<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        *{ font-family: DejaVu Sans; font-size: 9px;line-height: 0.9;}
       body {
           background-color: white;
           text-align: center;
           
       }
       table {
         
           border-collapse: collapse;
       }
       th {
           border: 1px solid black;
           border-collapse: collapse;
       }

       td {
           border: 1px solid black;
           border-collapse: collapse;
       }
       .cvp {
           /*color: red;*/
       }
       /*.rotate {
           transform: rotate(-90deg);
           min-width: 20px;
           transform-origin: center;
       }*/
       .ortali {
           text-align: center;
           width: 20px;
       }
       .tablo {
           padding: 20px;
       }
       table {
           width :700px;
           margin-bottom: 0px;
           border: 1px solid black;
           border-collapse: collapse;
       }
   </style>
</head>
<body>
    <h2>DİREKSİYON EĞİTİMİ ÇALIŞMA TAKİP FORMU</h2>
    <br>
    <div class="tablo" align="center">
        <table>
            <tr>
                <th>Adı Soyadı</th>
                <th class="cvp name"> </th>
                <th>TC KİMLİK</th>
                <th class="cvp tc" id="cvp" colspan="2"> </th>
                <th>SINIFI</th>
                <th class="cvp vClass" colspan="2">CE TIR</th>
            </tr>
            <tr>
                <th class="bas" colspan="2"> </th>
                <th>DERS TARİHİ</th>
                <th>DERS SAATİ</th>
                <th>ARAÇ PLAKASI</th>
                <th>KURSİYERİN İMZASI</th>
                <th>USTA ÖĞRETİCİSİ</th>
                <th>USTA ÖĞRETİCİ İMZA</th>
            </tr>
            <tr>
                <td rowspan="2" class="rotate"><b>ARAÇ KULLANMAYA HAZIRLIK VE ARACI TANIMA</b></td>
                <td>1. Motor ve araç kontrolünün yapılması <br> 2. Koltuğun ayarlanması <br> 3. Aynaların ayarlanması <br> 4. Aynaların ayarlanması <br> 5. Göstergelerin tanıtılması </td>
                <td class="ortali cvp date">.../.../.....</td>
                <td class="ortali">50 dk.</td>
                <td class="plate"> </td>
                <td> </td>
                <td class="mTrainer"> </td>
                <td> </td>
            </tr>
            <tr>
                <td>6. Kumanda kollarını tanıma ve kullanma <br> 7. Aynaların kullanılması <br> 8. Aynaların kullanılması <br> 9. Aynaların kullanılması <br> 10. Ampul değişimi <br> 11. Radyatöre antifriz konulması </td>
                <td class="ortali cvp date">.../.../.....</td>
                <td class="ortali">50 dk.</td>
                <td class="plate"> </td>
                <td> </td>
                <td class="mTrainer"> </td>
                <td> </td>
            </tr>
            <tr>
                <td rowspan="8" class="rotate"><b>ARACI KULLANMA</b></td>
                <td>1. Düz yolda kalkış ve duruş <br> 2. Düz yolda araç kullanma </td>
                <td class="ortali cvp date" rowspan="2">.../.../.....</td>
                <td class="ortali" rowspan="2">50 dk.</td>
                <td class="plate" rowspan="2"> </td>
                <td rowspan="2"> </td>
                <td class="mTrainer" rowspan="2"> </td>
                <td rowspan="2"> </td>
            </tr>
            <tr>
                <td>3. Park etme <br> 4. Kavşaklarda dikkat etme tekniği </td>
                
                
            </tr>
            <tr>
                <td>5. Sinyal lambasının(Dönüş ışıkları)kullanılması <br> 6. Dörtlü sinyal(Flaşör)kullanılması </td>
                <td class="ortali cvp date" rowspan="2">.../.../.....</td>
                <td class="ortali" rowspan="2">50 dk.</td>
                <td class="plate" rowspan="2"> </td>
                <td rowspan="2"> </td>
                <td class="mTrainer" rowspan="2"> </td>
                <td rowspan="2"> </td>
            </tr>
            <tr>
                <td>7. Dörtlü sinyal(Flaşör)kullanılması <br> 8. Şerit değiştirme ve uygun şeride geçme </td>
            </tr>
            <tr>
                <td>9. Dönel kavşaklarda araç kullanma <br> 10. Dönel kavşaklarda araç kullanma </td>
                <td class="ortali cvp date" rowspan="4">.../.../.....</td>
                <td class="ortali" rowspan="4">50 dk.</td>
                <td class="plate" rowspan="4"> </td>
                <td rowspan="4"> </td>
                <td class="mTrainer" rowspan="4"> </td>
                <td rowspan="4"> </td>
            </tr>
            <tr>
                <td>11. Virajlarda araç kullanma <br> 12. Trafik işareti ve işaretçileri olan yollarda davranış </td>
            </tr>
            <tr>
                <td>13. Araç geçme (Sollama) <br> 14. Geçilen taşıtın uyacağı kurallar </td>
            </tr>
            <tr>
                <td>15. Geçiş üstünlüğü,geçiş hakkı ve geçiş kolaylığı kuralları <br> 16. Şehirlerarası yollarda araç kullanma <br> 17. Erişme kontrollü (Otoyol) karayolunda araç kullanma </td>
            </tr>
            <tr>
                <td rowspan="4" class="rotate"><b>DEĞİŞİK HAVA VE YOL DURUMUNA GÖRE ARAÇ SÜRME</b></td>
                <td>1. Gece araç kullanma <br> 2. Hava şartlarına gör araç kullanma </td>
                <td class="ortali cvp date" rowspan="2">.../.../.....</td>
                <td class="ortali" rowspan="2">50 dk.</td>
                <td class="plate" rowspan="2"> </td>
                <td rowspan="2"> </td>
                <td class="mTrainer" rowspan="2"> </td>
                <td rowspan="2"> </td>
            </tr>
            <tr>
                <td>3. Mevsim şartlarına göre araç kullanma <br> 4. Yol şartlarına göre araç kullanma </td>
            </tr>
            <tr>
                <td>5. Gece araç kullanma <br> 6. Hava şartlarına göre araç kullanma </td>
                <td class="ortali cvp date" rowspan="2">.../.../.....</td>
                <td class="ortali" rowspan="2">50 dk.</td>
                <td class="plate" rowspan="2"> </td>
                <td rowspan="2"> </td>
                <td class="mTrainer" rowspan="2"> </td>
                <td rowspan="2"> </td>
            </tr>
            <tr>
                <td>7. Aracın kaymasını ve savrulmasını önleme <br> 8. Aracın kaymasını ve savrulmasını önleme </td>
            </tr>
        </table>
        <p style="float: right;">TOPLAM DERS SAATİ: 7 ders</p>
    </div>
</body>
</html>