<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
 

</head>

<body lang=EN-US style='word-wrap:break-word'>
<style>
    *{ font-family: DejaVu Sans; font-size: 12px;}
</style>
<div class=WordSection1>

<p class=MsoNormal align=center style='text-align:center'> <span style='color:red' class="sirketismi"></p>

<p class=MsoNormal align=center style='text-align:center'>DİREKSİYON EĞİTİM SİMÜLATÖRÜ ÖLÇME DEĞERLENDİRME RAPORU</p>

<table class="MsoNormalTable" border=1 cellspacing=0 cellpadding=0
 style="     margin-left: auto;
 margin-right: auto;">
 <tr  style="width:100%;">
  <td     style="width:100%;" colspan="6" >
  <table style="width:100%;" > 
  <tr style="width:100%;"  >
     <td >  ADI SOYADI:  <span  style="color:red" class="kursiyer">AHMET BAHADIR</span></td>
     <td>DÖNEMİ: <span style='color:red'  class="donem">2022 -  ŞUBAT </span></td>
  </tr>
    <tr>
        <td><span style='color:black'>TARİH: </span><span style='color:red' class="tarih">22.01.2022</span></td>
        <td><span  style='color:black'>PUAN: </span> <span class="puan" style='color:red'>puan</span></td>
    </tr>
    </table>
 
  
  </td>
 </tr>
 <tr style='height:.05pt;border:1px solid black'>
  <td width=604 colspan=6 valign=top style='width:453.1pt;
  background:white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>


  <table style="font-size:10px;text-align: left;width:100%" border=0> 
      <tr>
          <td>SENARYO:  </td>
          <td><span style='color:black' class="baslik">ALGI VE REFLEKS ÖLÇME SİMÜLASYONU  </span></td>
          <td><span style='color:black'>HAVA DURUMU: </span></td>
          <td><span style='color:black' class="havadurumu">Sisli Hava </span></td>
      </tr>
      <tr>
        <td><span style='color:black'>TRAFİK YOĞUNLUĞU: </span></td>
        <td><span style='color:black'>AZ TRAFİK  </span></td>
    
        <td><span style='color:black'>EĞİTİM SÜRESİ : </span></td>
        <td><span style='color:black'>50 Dakika  </span></td>
    </tr>
    <tr>
        <td><span style='color:black'>EĞİTİM ARACI: </span></td>
        <td><span style='color:black'>OTOMOBİL </span></td>
    
        <td><span style='color:black'>EĞİTİM TARİHİ : </span></td>
        <td><span style='color:red' class="egitimsuresi"> egitimtarih </span></td>
    </tr>
 </table>

 
  </td>
 </tr>
 <tr style='height:.05pt;border:1px solid black'>
  <td width=519 colspan=5 valign=top style='width:389.6pt;
  background:white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal align=center style='margin-bottom:0in;text-align:center;
  line-height:0.5'><b><span style='color:black'>ÖLÇME DEĞERLENDİRME KRİTERLERİ</span></b></p>
  </td>
  <td width=85 valign=top style='width:63.5pt;
  background:
  white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal align=center style='margin-bottom:0in;text-align:center;
  line-height:0.5'><b><span style='color:black'>ADET</span></b></p>
  </td>
 </tr>
 <tr style='height:.05pt;border:1px solid black'>
  <td width=519 colspan=5 valign=top style='width:389.6pt;
  background:white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black'>TRAFİK KAZASI</span></p>
  </td>
  <td width=85 valign=top style='width:63.5pt; 
  background:
  white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black' class="adet">0</span></p>
  </td>
 </tr>
 <tr style='height:.05pt;border:1px solid black'>
  <td width=519 colspan=5 valign=top style='width:389.6pt;
  background:white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black'>KORNAYI AMACI DIŞINDA KULLANMA</span></p>
  </td>
  <td width=85 valign=top style='width:63.5pt;
  background:
  white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black' class="adet">0</span></p>
  </td>
 </tr>
 <tr style='height:.05pt;border:1px solid black'>
  <td width=519 colspan=5 valign=top style='width:389.6pt;
  background:white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black' >ŞERİT İHLALİ</span></p>
  </td>
  <td width=85 valign=top style='width:63.5pt;
  background:
  white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black' class="adet">0</span></p>
  </td>
 </tr>
 <tr style='height:.05pt;border:1px solid black'>
  <td width=519 colspan=5 valign=top style='width:389.6pt;
  background:white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black'  >HARAKET HALİNDEYKEN VİTESİ BOŞA ALMA</span></p>
  </td>
  <td width=85 valign=top style='width:63.5pt;
  background:
  white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black' class="adet">0</span></p>
  </td>
 </tr>
 <tr style='height:.05pt;border:1px solid black'>
  <td width=519 colspan=5 valign=top style='width:389.6pt;
  background:white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black' >MOTORU AŞIRI ZORLAMA</span></p>
  </td>
  <td width=85 valign=top style='width:63.5pt;
  background:
  white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black' class="adet">0</span></p>
  </td>
 </tr>
 <tr style='height:.05pt;border:1px solid black'>
  <td width=519 colspan=5 valign=top style='width:389.6pt;
  background:white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black' >TAKİP MESAFESİ İHLALİ</span></p>
  </td>
  <td width=85 valign=top style='width:63.5pt;
  background:
  white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black' class="adet" >0</span></p>
  </td>
 </tr>
 <tr style='height:.05pt;border:1px solid black'>
  <td width=519 colspan=5 valign=top style='width:389.6pt;
  background:white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black'>EL FRENİ ÇEKMEDEN ARACI TERK ETME</span></p>
  </td>
  <td width=85 valign=top style='width:63.5pt;
  background:
  white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black' class="adet">0</span></p>
  </td>
 </tr>
 <tr style='height:.05pt;border:1px solid black'>
  <td width=519 colspan=5 valign=top style='width:389.6pt;
  background:white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black'  >VİTES BOŞTA İKEN GAZA BASMA</span></p>
  </td>
  <td width=85 valign=top style='width:63.5pt;
  background:
  white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black' class="adet">0</span></p>
  </td>
 </tr>
 <tr style='height:.05pt;border:1px solid black'>
  <td width=519 colspan=5 valign=top style='width:389.6pt;
  background:white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black' >HIZ LİMİT İHLALİ</span></p>
  </td>
  <td width=85 valign=top style='width:63.5pt;
  background:
  white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black' class="adet">0</span></p>
  </td>
 </tr>
 <tr style='height:.05pt;border:1px solid black'>
  <td width=519 colspan=5 valign=top style='width:389.6pt;
  background:white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black'  >MOTOR ÇALIŞIRKEN MARŞA BASMA</span></p>
  </td>
  <td width=85 valign=top style='width:63.5pt;
  background:
  white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black' class="adet">1</span></p>
  </td>
 </tr>
 <tr style='height:.05pt;border:1px solid black'>
  <td width=519 colspan=5 valign=top style='width:389.6pt;
  background:white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black' >KIRMIZI IŞIK İHLALİ</span></p>
  </td>
  <td width=85 valign=top style='width:63.5pt;
  background:
  white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black' class="adet">0</span></p>
  </td>
 </tr>
 <tr style='height:.05pt;border:1px solid black'>
  <td width=519 colspan=5 valign=top style='width:389.6pt;
  background:white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black'  >EĞİTİM ALANINDA KUKAYA ÇARPMA</span></p>
  </td>
  <td width=85 valign=top style='width:63.5pt;
  background:
  white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black' class="adet">0</span></p>
  </td>
 </tr>
 <tr style='height:.05pt;border:1px solid black'>
  <td width=519 colspan=5 valign=top style='width:389.6pt;
  background:white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black'  >EMNİYET KEMERİ İHLALİ</span></p>
  </td>
  <td width=85 valign=top style='width:63.5pt;
  background:
  white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black' class="adet">0</span></p>
  </td>
 </tr>
 <tr style='height:.05pt;border:1px solid black'>
  <td width=519 colspan=5 valign=top style='width:389.6pt;
  background:white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black'  >ARACI SAVURMA</span></p>
  </td>
  <td width=85 valign=top style='width:63.5pt;
  background:
  white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black' class="adet">0</span></p>
  </td>
 </tr>
 <tr style='height:.05pt;border:1px solid black'>
  <td width=519 colspan=5 valign=top style='width:389.6pt;
  background:white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black'  >SİNYAL VERMEDEN ŞERİT DEĞİŞTİRME</span></p>
  </td>
  <td width=85 valign=top style='width:63.5pt;
  background:
  white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black' class="adet">0</span></p>
  </td>
 </tr>
 <tr style='height:.05pt;border:1px solid black'>
  <td width=519 colspan=5 valign=top style='width:389.6pt;
  background:white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black'>ARACI STOP ETTİRME</span></p>
  </td>
  <td width=85 valign=top style='width:63.5pt;
  background:
  white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black' class="adet">0</span></p>
  </td>
 </tr>
 <tr style='height:.05pt;border:1px solid black'>
  <td width=519 colspan=5 valign=top style='width:389.6pt;
  background:white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black'>DUR TABELASI İHLALİ</span></p>
  </td>
  <td width=85 valign=top style='width:63.5pt;
  background:
  white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black' class="adet">0</span></p>
  </td>
 </tr>
 <tr style='height:.05pt;border:1px solid black'>
  <td width=519 colspan=5 valign=top style='width:389.6pt;
  background:white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black' >ARACA PATİNAJ ÇEKTİRME</span></p>
  </td>
  <td width=85 valign=top style='width:63.5pt;
  background:
  white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black' class="adet">0</span></p>
  </td>
 </tr>
 <tr style='height:.05pt;border:1px solid black'>
  <td width=519 colspan=5 valign=top style='width:389.6pt;
  background:white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black'>GAZ İLE FRENE AYNI ANDA BASMA</span></p>
  </td>
  <td width=85 valign=top style='width:63.5pt;
  background:
  white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black' class="adet">0</span></p>
  </td>
 </tr>
 <tr style='height:.05pt;border:1px solid black'>
  <td width=519 colspan=5 valign=top style='width:389.6pt;
  background:white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black'>TERS YÖNE GİRME</span></p>
  </td>
  <td width=85 valign=top style='width:63.5pt;
  background:
  white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black' class="adet">1</span></p>
  </td>
 </tr>
 <tr style='height:.05pt;border:1px solid black'>
  <td width=519 colspan=5 valign=top style='width:389.6pt;
  background:white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black'>ANİ FREN YAPMA</span></p>
  </td>
  <td width=85 valign=top style='width:63.5pt;
  background:
  white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black' class="adet">0</span></p>
  </td>
 </tr>
 <tr style='height:.05pt;border:1px solid black'>
  <td width=121 valign=top style='width:90.6pt;
  background:white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black'>EĞİTMEN</span></p>
  </td>
  <td colspan="2" width=242 valign=top style='width:90.6pt;border-left:
  none;
  background:white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:red' class="egitmen">SELMAN CEYLAN</span></p>
  </td>
  <td width=121 valign=top style='width:90.65pt;border-left:
  none;
  background:white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'><span
  style='color:black'>İMZA:</span></p>
  </td>
  <td width=121 colspan=2 valign=top style='width:90.65pt;
  
  background:white;padding:0in 5.4pt 0in 5.4pt;height:.05pt;border:1px solid black'>
  <p class=MsoNormal style='margin-bottom:0in;line-height:0.5'>&nbsp;</p>
  </td>
 </tr>
 
</table>
 
</div>

</body>

</html>
