<!DOCTYPE html>
<html lang="TR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        *{ font-family: DejaVu Sans; font-size: 9px;line-height: 0.8;}
        .kursiyer , .plakano, .egitmen{
            text-align: center;
        }
        table {
            width :700px;
            margin-bottom: 0px;
            border: 1px solid black;
            border-collapse: collapse;
        }

        th {
            border: 1px solid black;
            border-collapse: collapse;
        }

        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        .smallfont{
            font-size: 7px;
            line-height: 0.7;
        }

        .title {
            text-align: center;


        }
        .centerText {
           text-align: center;
            
        }


        .rightText {
            float: right;
            margin: 5px;
            
        }

        .leftText {
            float: left;
            margin: 5px;
         
        }

        .border {
            border: 1px black solid
        }

        .bordertop {
            border-top: 1px black solid
        }

        .borderr {
            border-right: 1px black solid
        }
        .borderl {
            border-l: 1px black solid
        }

        .bggray {
            background: gray;
            width: 20px;
        }

        .bggray2 {
            background: rgb(201, 192, 192);
        }

        .bgblue {
            background: rgb(0, 183, 255);
           
        }
      
        .bgyellow {
            background: rgb(255, 187, 0);
        }

        .bgred {
            background: rgb(255, 0, 0);
        }
        .blue{
            color:rgb(0, 183, 255);
        }
        .yellow{
            color:rgb(255, 187, 0);
        }
        .red {
            color: red
        }

        .bold {
            font-weight: bold;
        }

        .greenText {
            color: green;
        }
        .hidden{
            display:none;
        }
    </style>
</head>

<body>
    <div class="sep sep1 hidden" style="position: absolute;right:-5px;top:145px"><span style="color:Red;" class="bold">X</span></div>
   <div  class="sep sep2 hidden"  style="position: absolute;right:-5px;top:295px"><span style="color:Red;" class="bold">X</span></div>
   <div  class="sep sep3 hidden"  style="position: absolute;right:-5px;top:782px"><span style="color:Red;" class="bold">X</span></div>
   
      <div class="sep sep4 hidden" style="position: absolute;right:-5px;top:155px"><span style="color:Red;" class="bold">X</span></div>
      <div class="sep sep5 hidden" style="position: absolute;right:-5px;top:280px"><span style="color:Red;" class="bold">X</span></div>
      <div class="sep sep6 hidden" style="position: absolute;right:-5px;top:684px"><span style="color:Red;" class="bold">X</span></div>
    
      <div class="sep sep7 hidden" style="position: absolute;right:-5px;top:160px"><span style="color:Red;" class="bold">X</span></div>
      <div class="sep sep8 hidden" style="position: absolute;right:-5px;top:220px"><span style="color:Red;" class="bold">X</span></div>
      <div class="sep sep9 hidden" style="position: absolute;right:-5px;top:660px"><span style="color:Red;" class="bold">X</span></div>
 
      <div class="sep sep10 hidden" style="position: absolute;right:-5px;top:195px"><span style="color:Red;" class="bold">X</span></div>
     <div class="sep sep11 hidden" style="position: absolute;right:-5px;top:243px"><span style="color:Red;" class="bold">X</span></div>
     <div class="sep sep12 hidden" style="position: absolute;right:-5px;top:390px"><span style="color:Red;" class="bold">X</span></div>

    <table align="center" >
        <tbody>
            <tr>
                <td class="title" style="height: 70px;"  >
                    <span class="rightText">EK-4 ÖN YÜZÜ</span><br> 
                    DİREKSİYON EĞİTİMİ DERSİ SINAV DEĞERLENDİRME FORMU <br>
                    (“B”,“BE”, “C1”, “C1E”,“C”,“CE”, “D1”, “D1E”, “D”,“DE” veya “F” Sınıfları)<br><br><br>
                    <span class="centerText">  <span class="companyName"></span> MÜDÜRLÜĞÜ</span>
                    </br>                </br>            </br>
                </td>
            </tr>
            <tr class="bordertop">
                <td style="text-align:center"> KURSİYERİN</td>
            </tr>
            <tr>
                <td>

                </td>
            </tr>
        </tbody>

    </table>
    <table style="border-top:0px  ;" align="center">
        <thead>
            <tr>
                <th> Adı Soyadı </th>
                <th> İmza </th>
                <th> İstediği Sürücü Sertifikasının Cinsi: </th>
                <th> Sınava Girdiği Aracın Plaka No: </th>
                <th> Usta Öğretici: </th>
            </tr>
        </thead>
        <tbody>
            <tr style="height:40px">
                <td class="kursiyer"> &nbsp;</td>
                <td > &nbsp;</td>
                <td style="text-align: center;"> B</td>
                <td class="plakano"> &nbsp;</td>
                <td class="egitmen"> &nbsp;</td>
            </tr>
            <tr style="height: 5px;">
                <td colspan="5" style="background:gray"> </td>
            </tr>

        </tbody>
    </table>
    <table style="border-top:0px;  " align="center">
        <tbody>
            <tr >
                <th colspan="4" align="center"> (I) ARAÇ BİLGİSİ SORGULAMA BÖLÜMÜ </th>
            </tr>
        </table>
        <table  align="center"> 
            <tr>
                <th class="bggray"> 1</th>
                <td  > Lastiklerin havalarının yeterli olup olmadığını gözle veya ayakla kontrol etmiyor.</td>
                <th class="bgblue"  colspan="2"> MAVİ</th>
            </tr>
          
            <tr>
                <th class="bggray"> 2</th>
                <td> Aracın kaputunu açıp akünün yerini gösteremiyor <span class="greenText">("C", "CE", "D" ve  "DE"sınıfı araçlar hariç)</span>.</td>
                <th class="bgblue" colspan="2"> MAVİ</th>
            </tr>
            <tr>
                <th class="bggray"> 3</th>
                <td> Motor yağı ve motor suyu konulma yerini gösteremiyor <span class="greenText">("C", "CE", "D" ve "DE" sınıfı araçlar hariç)</span>.</td>
                <th class="bgblue" colspan="2"> MAVİ</th>
            </tr>
            <tr>
                <th class="bggray"> 4</th>
                <td> Cam silecek suyunun konulma yerini gösteremiyor <span class="greenText">("C", "CE", "D" ve "DE"
                        sınıfı araçlar hariç)</td>
                <th class="bgblue" colspan="2"> MAVİ</th>
            </tr>
            <tr>
                <th class="bggray"> 5</th>
                <td> Aracın bagajını açıp; stepne, kriko, bijon anahtarı, reflektör ve ilkyardım çantasını gösteremiyor
                    <span class="greenText">("C", "CE", "D" ve "DE" sınıfı araçlar hariç)
                </td>
                <th class="bgblue" colspan="2"> MAVİ</th>
            </tr>
            <tr>
                <th class="bggray"> 6</th>
                <td> Yağ ve hararet göstergelerini gösteremiyor. Hangi durumda tehlike ifade ettiklerini bilmiyor.</td>
                <th class="bgblue" colspan="2"> MAVİ</th>
            </tr>
            <tr>
                <th class="bggray"> 7</th>
                <td> Yakıt göstergesinin yerini gösteremiyor.</td>
                <th class="bgblue" colspan="2"> MAVİ</th>
            </tr>
            <tr>
                <th class="bggray"> 8</th>
                <td> Uzun/kısa far, korna, cam silecek ve diğer kumanda kollarını gösteremiyor.</td>
                <th class="bgblue" colspan="2"> MAVİ</th>
            </tr>
            <tr>
                <th class="bggray"> 9</th>
                <td> Sinyal kolunu gösteremiyor.</td>
                <th class="bgblue" colspan="2"> MAVİ</th>
            </tr>
            <tr>
                <th class="bggray"> 10</th>
                <td> Araç içi aydınlatma lambalarını açıp kapatamıyor.</td>
                <th class="bgblue" colspan="2"> MAVİ</th>
            </tr>
            <tr>
                <th class="bggray"> 11</th>
                <td> Dış ve iç aynaların ayar yerlerini gösteremiyor.</td>
                <th class="bgblue" colspan="2"> MAVİ</th>
            </tr>
            <tr>
                <th class="bggray"> 12</th>
                <td> El frenini ve ayak fren pedalını gösteremiyor.</td>
                <th class="bgblue" colspan="2"> MAVİ</th>
            </tr>
            <tr>
                <th class="bggray"> 13</th>
                <td> Gaz ve debriya <span class="greenText">(Otomatik vitesli araçlar hariç)</span> pedallarını
                    gösteremiyor.</td>
                <th class="bgblue" colspan="2"> MAVİ</th>
            </tr>
            <tr>
                <th class="bggray"> 14</th>
                <td> Aracın kaç vitesli olduğunu bilmiyor <span class="greenText">(Otomatik vitesli araçlar
                        hariç)</span> Otomatik vitesli araçlarda P, N, D ve R komutlarının ne anlama geldiğini bilmiyor.
                </td>
                <th class="bgblue" colspan="2"> MAVİ</th>
            </tr>
            </tr>
            <tr style="height: 5px;">
                <td colspan="4" style="background:gray"> </td>
            </tr>
            <tr style="height: 5px;">
                <th colspan="4" align="center"> (II) AKAN TRAFİKTE SÜRÜŞ BECERİSİ VE TRAFİK ALGISINA YÖNELİK DAVRANIŞLAR
                    BÖLÜMÜ </th>
            </tr>
            <tr>
                <th class="bggray"> 1</th>
                <td> Araca bindiğinde koltuk ayarlarını kontrol etmiyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <th class="bggray"> 2</th>
                <td> Araca bindiğinde ayna ayarlarını kontrol etmiyor</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <th class="bggray"> 3</th>
                <td> Emniyet kemerini takmıyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <th class="bggray"> 4</th>
                <td> Alkol, uyuşturucu veya uyarıcı maddelerin etkisinde olduğu gözlemlendi.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>

            <!-- rowspan 5 ise 5 satir <tr>-->
            <tr>
                <th class="bggray" rowspan="4"> 5</th>
                <td class="bggray2 red bold" colspan="3"> ARACI ÇALIŞTIRMA</td>

            </tr>
            <tr>
                <td> a) Aracı çalıştırmadan önce debriyaja basmıyor <span class="greenText">(Otomatik vitesli araçlar
                        hariç)</span> veya vitesi boşa almıyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <td> b) Aracı çalıştıramıyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <td> c) Araç çalıştığı halde kontak anahtarını marş kademesinde tutmaya devam ediyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <!--rowspan sonu-->

            <!-- rowspan 5 ise 5 satir <tr>-->
            <tr>
                <th class="bggray" rowspan="11"> 6</th>
                <td class="bggray2 red bold" colspan="3"> KALKIŞ YAPMA (ARACI HAREKETE GEÇİRME).</td>

            </tr>
            <tr>
                <td> a) Aracı hareket ettirmeden önce el frenini indirmiyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <td> b) Kalkışı doğru vitesle yapmıyor, Otomatik vitesli araçlarda kalkış yaparken vitesi D pozisyonuna
                    getirmiyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <td> c) Kalkış yapmadan önce aynaları ile trafiği kontrol etmiyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> ç) Kalkış yaparken omuz üstü bakış ile kör nokta kontrolü yapmıyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <td> d) Kalkış yaparken sinyal vermiyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> e) Kalkış yaparken aracı sarsıyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <td> f) Kalkış yaparken motoru stop ettiriyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <td> g) Kalkışta trafik akışı ile uyumlu hareket edemiyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <td> ğ) Trafiği tehlikeye düşürecek şekilde hızlı ve kontrolsüz kalkış yapıyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> h) Kalkış yaptıktan sonra aracı doğru şeride konumlandıramıyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <!--rowspan sonu-->

            <!-- rowspan 5 ise 5 satir <tr>-->
            <tr>
                <th class="bggray" rowspan="7"> 7</th>
                <td class="bggray2 red bold" colspan="3"> ARAÇ KUMANDA PEDALLARINA İNTİBAK</td>

            </tr>
            <tr>
                <td> a) Vites değiştirirken debriyaj pedalına tam basmıyor <span class="greenText"> (Otomatik vitesli
                        araçlar hariç)</span>.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <td> b) Vites değiştirirken gaz pedalını doğru kullanamıyor <span class="greenText"> (Otomatik vitesli
                        araçlar hariç)</span>..</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <td> c) Vites değiştirirken doğru sıralamaya uymuyor <span class="greenText"> (Otomatik vitesli araçlar
                        hariç)</span>..</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <td> ç) Vites değiştirirken aracın kontrolünü kaybediyor <span class="greenText"> (Otomatik vitesli
                        araçlar hariç)</span>..</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> d) Seyir halideyken yola bakmayı bırakıp vites koluna bakarak vites değiştiriyor <span
                        class="greenText"> (Otomatik vitesli araçlar hariç)</span>..</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> e) Gaz ve frene tam intibak edemiyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <!--rowspan sonu-->

            <!-- rowspan 5 ise 5 satir <tr>-->
            <tr>
                <th class="bggray" rowspan="4"> 8</th>
                <td class="bggray2 red bold" colspan="3"> DİREKSİYON HAKİMİYETİ</td>

            </tr>
            <tr>
                <td> a) Direksiyon simidini doğru pozisyonda tutmuyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <td> b) Aracı kontrol edemiyor, sağa sola savuruyors.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> c) Aracı şerit içinde gezdiriyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <!--rowspan sonu-->
            <tr>
            <th class="bggray" rowspan="8"> 9</th>
            <td class="bggray2 red bold" colspan="3"> ŞERİT İZLEME VE DEĞİŞTİRME</td>

            </tr>
            <tr>
                <td> a) Aracı şerit çizgilerinin içerisinde kullanamıyor, iki şeridi birden kullanıyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> b) Şerit değiştirmeden önce aynaları ile trafiği kontrol etmiyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> c) Şerit değiştirmeden önce omuz üstü bakış ile kör nokta kontrolü yapmıyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <td> ç) Şerit değiştirmeden önce zamanında sinyal vermiyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> d) Şeridini değiştirirken yoldaki kesik ve sürekli çizgilerin anlamlarına uygun hareket etmiyor.
                </td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <td> e) Emniyet şeridini ihlal ediyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> f) ) Sürekli sol şeridi işgal ederek araç kullanıyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <!--rowspan sonu-->
            <tr>

            <th class="bggray" rowspan="9"> 10</th>
            <td class="bggray2 red bold" colspan="3"> KAVŞAKLARA YAKLAŞMA VE KAVŞAKLARDA SAĞA SOLA DÖNÜŞLER</td>

            </tr>
            <tr>
                <td> a) Kavşağa yaklaşırken yavaşlamıyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> b) Kavşağa yaklaşırken döneceği yöne uygun şeride zamanında girmiyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> c) Dönüş öncesinde zamanında sinyal vermiyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> ç) Kavşakta karşıdan ve yandan gelen araçları kontrol etmiyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> d) Kavşakta geçiş hakkı kurallarına uymuyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> e) Sağa sola dönüşlerden önce aynaları ile trafiği kontrol etmiyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> f) Sağa sola dönüşlerden önce omuz üstü bakış ile kör nokta kontrolü yapmıyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <td> g) Dönüşünü tamamladıktan sonra yönüne uygun şeride girmiyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <!--rowspan sonu-->

            <tr>
            <th class="bggray" rowspan="6"> 11</th>
            <td class="bggray2 red bold" colspan="3"> ARAÇ SEYİR HALİNDEYKEN DEĞERLENDİRİLECEK DİĞER DAVRANIŞLAR</td>

            </tr>
            <tr>
                <td> a) Işıklı trafik cihazları, trafik levhaları ve diğer trafik işaretlerine uymuyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> b) Trafik polisini, yol ikaz ve değişikliklerini veya diğer yönlendirmeleri fark etmiyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> c) Araç kullanımı sırasında araç hakimiyetini ve trafik güvenliğini tehlikeye düşürecek düzeyde
                    heyecanlı ve telaşlı olduğu görüldü.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> ç) Yaya ve okul geçitlerinde yayalara ve bisikletlilere geçiş hakkı vermiyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> d) Hemzemin geçitlerde geçiş kurallarına uymuyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <!--rowspan sonu-->
            </table>
            <div style="page-break-before: always;"></div>
          
            <div class="hidden sep13" style="position: absolute;right:-5px;top:232px"><span style="color:Red;" class="bold">X</span></div>

            <table   align="center">
            <tr >
                <th colspan="4" align="center"> EK-4 (ARKA YÜZÜ) </th>
            </tr>

    
            <tr>
                <th class="bggray" rowspan="5"> 11</th>
                <td> e) Geçiş üstünlüğüne sahip araçlara geçiş hakkı vermiyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> f) Araç seyir halindeyken iç ve dış aynalardan trafiğin akışını kontrol etmiyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <td> g) Takip mesafesini kurallara uygun olarak ayarlayamıyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> ğ) Güzergahı bilmiyor, güzergah dışına çıkıyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> h) Genel olarak araç kullanma becerisi zayıf.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <!--rowspan sonu-->
            <tr> 
             <th class="bggray" rowspan="7"> 12</th>
             <td class="bggray2 red bold" colspan="3"> ÖNÜNDEKİ ARACI GEÇME (SOLLAMA YAPMA)</td>

            </tr>
            <tr>
                <td> a) Sollamaya başlamadan önce aynalar ile trafik kontrolü yapmıyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> b) Sollamaya başlamadan önce omuz üstü bakış ile kör nokta kontrolü yapmıyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <td> c) Sollamaya başlamadan önce ve zamanında sinyal vermiyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> ç) Sollama yaparken önündeki ve diğer şeritlerdeki araçları tehlikeye atıyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> d) Sollama yaparken kendi hızını ve diğer araçların hızlarını dikkate almıyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> e) Kendisini geçmek isteyen araç olduğunda geçilme kurallarına uymuyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <!--rowspan sonu-->
            <tr>
             <th class="bggray" rowspan="7"> 13</th>
               <td class="bggray2 red bold" colspan="3"> HIZ KURALLARI</td>

            </tr>
            <tr>
                <td> a)  Hız levhalarına uymuyor, azami hız sınırını aşıyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> b) Yaya, okul, bisiklet vb. geçitlere yaklaşırken hızını azaltmıyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> c) Trafikte seyir halindeyken gereksiz yere fren yaparak trafiği tehlikeye düşürüyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> ç) Yol için belirlenen asgari hız sınırlarına uymuyor, çok yavaş araç kullanıyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <td> d) Sürekli aynı vitesle araç kullanıyor, zamanında vites değiştirmiyor <span class="greenText">(Otomatik vitesli araçlar hariç)</span>.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <td> e) Hızlanma ve yavaşlamalarda aracın hızını ayarlayamıyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <!--rowspan sonu-->
            <tr>
             <th class="bggray" rowspan="4"> 14</th>
             <td class="bggray2 red bold" colspan="3"> ÇEVREYE DUYARLI VE EKONOMİK ARAÇ KULLANMA</td>

            </tr>
            <tr>
                <td> a)  Aracı yüksek devirde kullanıyor <span class="greenText">(Otomatik vitesli araçlar hariç)</span>.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <td> b) Kornayı gereksiz yere kullanıyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <td> c) Duruş ve kalkışları ani yapıyor, aracı ekonomik kullanmıyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <!--rowspan sonu-->
            <tr>
            <th class="bggray" rowspan="7"> 15</th>
            <td class="bggray2 red bold" colspan="3"> GERİ GİDERKEN SAĞA-SOLA ( L ) DÖNME</td>

            </tr>
            <tr>
                <td> a)  Geri giderken şeridini koruyarak köşeden sağa ya da sola tek hamlede dönemiyor <span class="greenTExt"> (90 derece açı ile)</span>.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> b)  Geri giderken konilere veya kaldırıma çarpıyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> c) Kalkış yaparken motoru stop ettiriyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <td> ç)  Dönmeden önce veya dönüşü tamamlayıp tekrar yola çıkarken sinyal vermiyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> d) Dönmeden önce veya dönüşü tamamlayıp tekrar yola çıkarken aynaları ile trafiği kontrol etmiyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> e)  Tekrar yola çıkmadan önce omuz üstü bakış ile kör nokta kontrolü yapmıyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <!--rowspan sonu-->
            <tr>
            <th class="bggray" rowspan="9"> 16</th>
            <td class="bggray2 red bold" colspan="3"> GERİ DÜZ GİTME - 25 MT</td>

            </tr>
            <tr>
                <td> a)  Aracı geri vitese takamıyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <td> b)  Geri giderken aracı şerit çizgileri içerisinde gezdiriyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <td> c) Geri giderken aracı şerit çizgileri içinde tutamıyor, dışına çıkarıyor. Aracın hakimiyetini sağlayamıyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> ç)  Geri giderken aynalarla veya geriye dönerek arkadaki trafiği kontrol etmiyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> d) Aracı stop ettiriyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <td> e)  Kalkış yapmadan önce aynaları ile trafiği kontrol etmiyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> f)  Kalkış yapmadan önce omuz üstü bakış ile kör nokta kontrolü yapmıyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <td> g)  Kalkış yaparken sinyal vermiyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <!--rowspan sonu-->
            <tr>
            <th class="bggray" rowspan="7"> 17</th>
            <td class="bggray2 red bold" colspan="3"> ANİ FREN YAPMA</td>

            </tr>
            <tr>
                <td> a)  Ani fren yapıp aracı durduramıyor <span class="greenTExt">(Saatte 30 km hızla giderken)</span>.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> b)  Ani fren yaptığında aracı stop ettiriyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <td> c) Kalkış yapmadan önce aynaları ile trafiği kontrol etmiyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> ç)  Kalkış yapmadan önce sinyal vermiyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> d) Kalkış yapmadan önce omuz üstü bakış ile kör nokta kontrolü yapmıyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <td> e)  Kalkış yaparken motoru stop ettiriyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <!--rowspan sonu-->
            <tr>
            <th class="bggray" rowspan="7"> 18</th>
            <td class="bggray2 red bold" colspan="3"> EĞİMLİ YOLDA KALKIŞ</td>

            </tr>
            <tr>
                <td> a)   Sağ şeritte durmadan önce aynaları ile trafiği kontrol etmiyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> b)  Sağ şeritte durmadan veya kalkış yapmadan önce sinyal vermiyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> c) Kalkış yapmadan önce aynaları ile trafiği kontrol etmiyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> ç)  Kalkış yapmadan önce omuz üstü bakış ile kör nokta kontrolü yapmıyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <td> d) Aracı hareket ettirirken 50 cm'den fazla geri kaydırıyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <td> e)   Kalkış yaparken motoru stop ettiriyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <!--rowspan sonu-->
            <tr>
            <th class="bggray" rowspan="10"> 19</th>
            <td class="bggray2 red bold" colspan="3"> EĞİMLİ YOLDA KALKIŞ</td>

            </tr>
            <tr>
                <td> a)   Koniler arasına tek hamlede giremiyor. <span class="greenText">(“BE”, “C1E”,“CE”, “D1E” ve “DE” sertifika sınıflarında iki hamlede giremiyor.)</span>.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> b)   Koniler arasında <span class="greenText">(İçeride)</span> en fazla iki hamlede park edemiyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> c)  Park ederken veya park alanından çıkarken kaldırıma veya konilere çarpıyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> ç)   Kaldırıma 50 cm’den fazla açığa park ediyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> d) Kalkış yaparken motoru stop ettiriyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <td> e)   Genel park etme becerisi zayıf <span class="greenText">(Park alanına girerken aracı sık sık durdurup vites değiştirmeden tekrar hareket ettirme gibi)</span>.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <td> f)   Park alanından çıkarken aynaları ile trafiği kontrol etmiyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> g)   Park alanından çıkarken sinyal vermiyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> ğ)   Park alanından çıkarken omuz üstü bakış ile kör nokta kontrolü yapmıyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <!--rowspan sonu-->
            <tr>
            <th class="bggray" rowspan="11"> 20</th>
            <td class="bggray2 red bold" colspan="3"> DURAKLAMA VE PARK ETME</td>

            </tr>
            <tr>
                <td> a)   Duraklama veya park yasağına uymuyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> b)   Duraklama veya park etmede sağ tarafa yanaşırken aynaları ile trafiği kontrol etmiyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> c)  Duraklama veya park etmede sağ tarafa yanaşırken sinyal vermiyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> ç)   Duraklama veya park etmede şeridin sağına veya kaldırıma yeterince yanaşmıyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <td> d) Park etme esnasında kaldırıma çarpıyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> e)   Ani duruş yaparken araçtakilerin güvenliğini tehlikeye düşürüyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <td> f)    Aracı terketmeden önce el freni ile aracı sabitlemiyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <td> g)   Aracı terketmeden önce motoru stop etmiyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr>
                <td> ğ)   Otomatik vitesli araçlarda park esnasında aracı stop ettirmeden önce vitesi P pozisyonuna almıyor.</td>
                <th class="bgred" colspan="2"> KIRMIZI</th>
            </tr>
            <tr>
                <td> h)   Aracı terk ederken aracın kapısını açmadan aynaları ile arkadan gelen trafiği kontrol etmiyor.</td>
                <th class="bgyellow"> Sarı</th>
                <th class="bgyellow"> Sarı</th>
            </tr>
            <tr style="height: 5px;">
                <td colspan="4" style="background:gray"> </td>
            </tr>
            <!--rowspan sonu-->
        </tbody>
    </table>

    <table  align="center"   >
        <tbody>
            <tr class="bordertop" >
                <td style="text-align:center" colspan="6" > SINAV KOMİSYONU</td>
            </tr>
            <tr class="bordertop">
                <td style="text-align:center" colspan="4"> </td>
                <td style="text-align:center" colspan="2">Üye (Adı/Soyadı/İmza) </td>
            </tr>
            <tr class="bordertop">
                <td    class="bold">Sınav Tarihi:                </td>
                <td  class="bold">SONUÇ </td>
                <td  colspan="2" style="width:100px" > </td>
                <td   colspan="2"  > </td>
            </tr>
            <tr class="bordertop">
                <td   rowspan="3" class="tarih">  </td>
                <td  class="bold">BAŞARILI </td>
                <td   colspan="2" style="text-align: center;"><SPAN  class="bold red">X</SPAN> </td>
                <td   colspan="2"  > </td>
            </tr>
            <tr class="bordertop">
              
                <td class="bold" >BAŞARISIZ </td>
                <td   colspan="2" > </td>
                <td   colspan="2" class="bold">NEDENİ:                </td>
            </tr>
            <tr class="bordertop">
              
               
                
                <td   style="border:none;;" >  &nbsp;    </td>
               
                <td    style="border:none;"  > &nbsp;    </td>
                <td     style="width: 5%">    &nbsp;  </td>
               
                <td      >   </td>
                <td       style=" width:  5%" > &nbsp;  </td>
       
            </tr>>
        </tbody>

    </table>
    <table align="center">
        <tbody>
            <tr class="bordertop">
                <td   style="width: 20px;" rowspan="3">NOT:</td>
                <td  > <span class="blue bold smallfont"> 1- Mavi renkle işaretlenmiş maddelerden beş tanesini ihlal eden kursiyerin sınavına son verilir.                </span></td>
                
                </tr><tr><td  > <span class="yellow bold smallfont"> 2- Sarı renkle işaretlenmiş maddelerden herhangi birini iki kere veya farklı maddelerden iki tanesini ihlal eden kursiyerin sınavına son verilir.                </span></td>
                </tr><tr><td  > <span class="red bold smallfont"> 3-Kırmızı renkle işaretlenmiş maddelerden birini ihlal eden kursiyerin sınavına son verilir.                </span></td>
            </tr>
       </tbody>
   </table>

</body>

</html>