

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="DvYvopKyy2XeM3XeGHSq0Vq5byC57qVXIRT7ggK1tsw" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T.C.Millî Eğitim Bakanlığı</title>
    <link rel="stylesheet" type="text/css" href="cssyeni/bootstrapyeni.min.css">
    <link rel="stylesheet" type="text/css" href="cssyeni/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="cssyeni/iofrm-style.css">
    <link rel="stylesheet" type="text/css" href="cssyeni/iofrm-theme9.css">
    <link rel="stylesheet" type="text/css" href="cssyeni/jquery.mmenu.all.css">
    <link rel="stylesheet" type="text/css" href="cssyeni/loginstyle.css?v=1.0">
</head>
<body>
    <!-- The menu -->
    <nav id="menu">
        <ul>
            <li><a href="">MEB E-OKUL VBS</a>
                <ul>
                    <li><a href="https://play.google.com/store/apps/details?id=com.meb.vbsmobil">Android</a></li>
                    <li><a href="https://itunes.apple.com/tr/app/meb-e-okul-vbs/id839482639?mt=8">iOS</a></li>
                </ul>
            </li>
            <li><a href="">MEB E-OKUL</a>
                <ul>
                    <li><a href="https://play.google.com/store/apps/details?id=com.meb.e_okul">Android</a></li>
                    <li><a href="https://itunes.apple.com/tr/app/meb-e-okul/id982521746?mt=8">iOS</a></li>
                </ul>
            </li>        
            <li><a href="">Açık Öğretim Liseleri</a>
                <ul>
                    <li><a href="https://play.google.com/store/apps/details?id=com.meb.acikLise">Android</a></li>
                    <li><a href="https://itunes.apple.com/tr/app/meb-personel/id661164713?mt=8">iOS</a></li>
                </ul>
            </li>
            <li><a href="">MEB BİLSEM</a>
                <ul>
                    <li><a href="https://play.google.com/store/apps/details?id=air.meb.bilsemdemo">Android</a></li>
                    <li><a href="https://itunes.apple.com/tr/app/bilsem-tan%C4%B1t%C4%B1m/id1303486851?mt=8">iOS</a></li>
                </ul>
            </li>
            <li><a href="">MEB AJANDA</a>
                <ul>
                    <li><a href="http://play.google.com/store/apps/details?id=com.meb.mebanahtar">Android</a></li>
                    <li><a href="https://itunes.apple.com/us/app/meb-anahtar/id1448478630?mt=8">iOS</a></li>
                </ul>
            </li>

        </ul>
    </nav>
    <a href="#menu" id="menuButton" style=""><i class="fa fa-bars" aria-hidden="true"></i>
    </a>
    <div class="form-body">
        <div class="row">
            <div class="img-holder">
                <div class="info-holder">
                    <h3>T.C.
                          <br>
                        Millî Eğitim Bakanlığı
                    <br />
                        Bilişim Sistemleri
                    <br />
                        MEBBİS</h3>
                    <p>Bakanlığımıza ait uygulamalara tek bir kullanıcı ile erişim sağlayabilirsiniz.</p>
                    <div class="LeftImage">
                        <img src="images/giris.png" alt="">
                        <a href="javascript:void(0)" class="btn1" data-toggle="tooltip" data-placement="top" title="DYS"></a>
                        <a href="javascript:void(0)" class="btn2" data-toggle="tooltip" data-placement="top" title="E-OKUL"></a>
                        <a href="javascript:void(0)" class="btn3" data-toggle="tooltip" data-placement="top" title="MEBBİS"></a>
                    </div>
                    <div class="mobile-apps">
                        <ul>
                            <li><a href="https://play.google.com/store/apps/developer?id=T.C.+Milli+E%C4%9Fitim+Bakanl%C4%B1%C4%9F%C4%B1" target="_blank">
                                <img src="images/uygulamaikon/gp.png"></a></li>
                            <li><a href="https://itunes.apple.com/tr/developer/t-c-milli-egitim-bakanlig%C4%B1/id656664734?l=tr" target="_blank">
                                <img src="images/uygulamaikon/ios.png"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content" id="particles-js">
                    <div class="form-items">
                        <div class>
                            <a href="https://www.meb.gov.tr"  target="_blank">
                            <img src="images/logo-beyaz.png" alt="logo" class="img-fluid" />
                                </a>
                        </div>
                        <form method="post" action="./" id="ctl00" class="form-">
<div class="aspNetHidden">
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__VIEWSTATEFIELDCOUNT" id="__VIEWSTATEFIELDCOUNT" value="4" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="6hAsqkn1IPsuzK5corl3QehVB28TpRRH0Hqm9zpXEU1klTuLNzBq2Zb4cFr/2IB0vkYBfgDfvGBvLf+I7hCsKyfqBEW87mdRY3arWZu6VUbwDOl66sVZEyhSczokhOFECUdYDm68lNH3pEb239yu+dM45uUSImBfhhpIGA25DZdEp98oXSD3JqFYol3xluiE6lrZFS9UsqB/pX1Fdudgy5+JOFeM1kB9C5QxjRF3iJKkm7LkuEsQCYs59ZocLo96XymP5YHmyEiS7R/Ey/LM3tUPCupZmTMEKKLt9MvOHEu4YmWO+9q7bOsv1Om4Rv40GYa6FI+x2GbSU1tYgP5d3xdaPYr+SxDX068JrUtrEZ/BiQ2X9z0Y45SG6TTvnYQeEhTMvtBp9EB1lRJwwR9AED2i1AIUME7DIwnF8HW0wqWexkN/oaxqkfLW58lRdDeyXUObeAnmtPI7bBntCpY33A8nYzpG3HW4oqdv0K/P3ZlkO6MAOtdFq+LTnOb25GMFQEqx15Y2zSotdNG4BRpK7RLSHCzzww9/Bg2T4j99lBem6Tw+ZcKo/75Bmsf9doIUG5RQ2OPY2nfFN9yuv0ywNmJWvB+2Tf9HwqfEIqygh3lizuYFWUi3FG+NlVS9B/SiWG8C7qY1DlkeN++a6fx7tr9KowSxcioMh/83mSyEKGHBcJ8HJlkC7mRP3o27InmDzILUIAjfhaNZYPalTlUzbuy1LHFksy1o+mw01GjLzCWz0LJxqPkOfhKm5QtQip60i024eXLhHwujoMhXuglD9G9BsxU3uH8ABgBdmhGDzqpJkHQ5AV4xREKTVOUXk3zPVlxxPzMeoiclPKrlGE6OVZrQmX0Ypyow+2mSRp3APCYSu1hQHFffBOeSTe8Q8dR2KJXuYBLOlMP8y4LKZhU0xvagBnUCR5TcNxQIAPH3I4IIYqtC01s3RNz4XXp4tNOoawxEEbQsc/tUD6sxSfKFos2zK4JWk7p1vbkBqrd3de4KXkjY+F6SnF6e+iGQuXuj" />
<input type="hidden" name="__VIEWSTATE1" id="__VIEWSTATE1" value="+ZKzUYwDXDoX7eAWOgtqBLvt1KnMGjY02kDetr5SoSuzKc8AiBqN5WyJX/W3Jt8w9R39b8Owmxgl4DnQQbM6u5Kck1AbAxrDmkp8DaAkEJrCMHNEXDPajJMiSz31XvZLPe/w7jpuLfOeip+0vAs7Tsa82jJ7aG5qG8kRUOkvs7NOfm0pOZA8DBllCcopPGu64tvcgF2c1KU7zMGZKUy1OCTJRohgbHHZJ3odQUcYcgJQZvristzoOjD5v2QQ+kJkNQPZmsX5wKv4tOF6VFz+yJYyognI9PFdZ0Tg0GAwZFCJN6X4Ehg9HzHlnF8NGOuZ4B5hNSnaDdd8ElkVuLMhU1ymOVj2aG4vgqf89IL6hwOoG5hUGPFbZUvs+H7WkSGrvba0dE9G12YBpgI7Fz3/ZMw6XkV9gM1mFDvA44hGMv8f5Mia8HLrp5gDduSHtKcPDUxUUDOGTAGRnaRKKvdbF6sQVFtotD1572hyK8Uq2wI+jBbX+RWzjSca9WHGYUXDr27CUR1Ie3egJB6Zi7gWVSfRzlxKcYNYIB0HODkNTx39IC8qyy4Uly499pfq2Gk7IAxqrRxfSsdDo0yXj0HS0GigXnPPwGkqlvAg3c6GpcmrsFynEt4z/+0aYRpUbV6i6Smzl9Vn0IkZ4Cnto/G8lwSkJlcAZOladdov9rclApPGATVHLq2haAa5+EuavkjeV7ip9JsnxCc3Zaci6ue949gK6owOmKV63P/UZsZyYEmBFpnO8e5zg6s3H4K0omwH6OxkR8n2HHmCDAgqb+uW+dcXIHdy8/XL1nFN7XiuhHittC06cDr6wm6rI7r/y2/2UHi9GybtriDcbx6WmRC4cF7MywuOqjvYX6+HFfDLLHKRHnLqkIqq3hHOK14p4ApyHtXjH9O81xgRo6+W4Jn3vfqAed+l0+OEA9yqV8CLOMdKnnDGFsdy8LC1MXA2d3ZvlgmQchtpZqeVAAflEiR4iUL5gN/rFWvl9lbEvMa2mhe8xaDmCcIb/Imwblf2DhGj" />
<input type="hidden" name="__VIEWSTATE2" id="__VIEWSTATE2" value="Jh5rNF50wJ5vP2T6y12iPU4voPTY76lRkLT0yh2JIKkY/iZIiQX6YmcwmZdhAZc6GF8PWvyDZCUoVByCe3YDIJhqZs74bI6RdB5kGmqys+ePQZXIBjBK8ORelQip8LNQRUGNzib1InQOOkQF/7oGOxwmaAqFJLbg31N9gn1Hn0PrdMzSE1MFG/tPGoIeglLyLHu3bbHPgpDsQ9/56CCOUaabsbJLFigPjkrr9xq+/hxYiRpc4wGpCTWGljSqPphWiVVrLAPeMFlYPy4X6p+d0QWlZ/GxOXoITnyPEBiiFhHMUeqWRSY/NswgQ19UfOaSFReDbRB1jIFA0dBof0Y5Lse/PADs2dXOlga7LHiOkI9xvKl/o+0Fdu2I4Q39XwX2GKCjF7b6IbXrhl9gZ9IubpZv+CRmtgIlFW+e1KFV0FtUC/kzz9fvuKZaNadyoOuroXuclKFbQ9pzouxdFN6y9f4O3ntDzSukG/sL8A8hGuu2YzD6PDLjaw+WiZW1UUZHQ20h7saEN+Z21K0BoB2NttlgsK80LoRgQ+EURm2BUPHwZy7gULzxZLcAXvHat8e5ZP8vUvT42hdoQmu/bPszWTLlGfJ6nr9amAZM90/XiUjmZDSYKwANt+YaBIqIlRPY2Lv4pdAb8WJNyniolx5vypOyE3QKYqHN1oYLlwpt6Un5c9KWzF5TR1G1L080vbcpR5NaTiGqYpqsF0d63Lr1WupVbnjyugSHAgIh+ye8wOq2ixDAThzLjgOhCmKLWUeU+5uS4G9vZQNv/8VlqYgnUFuKJcobd0JX6E8idvdda1obj95e2uzYuWvVTB4Rcqzc9Kt4182GMBK7okYA/Zwf16sXqfdvMhLb8Glb/p5pjfXxXLgtJmBXkN9CodqRA0w1/dTnJJut5LwyTOBGHu43za5XV3I9xl+YDowSGIfDF2aWCe3RCRTpMYQM6IgIbeVrdrsb2IrObEOFTaS+QxXdEqGhfJaEacTHtTkS9hSO63njoL2ho3nf9BJ+NvY1v6gJ" />
<input type="hidden" name="__VIEWSTATE3" id="__VIEWSTATE3" value="sa9/8uN9JkUt/zsHBeOy9jRXbnUL74AtMuc5qwB8MB3GODslhO5HXJk9OEyVoGl6y0GzJfCd4gQfyUTOtm+Z7pG4ilIziRGc5PBCfBpxvSI=" />
</div>

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['ctl00'];
if (!theForm) {
    theForm = document.ctl00;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>


<div class="aspNetHidden">

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="CA0B0334" />
	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="11xr/k0+y/bUYcii9Y6VuvOCSYegrGa7Uu10cEc7AgpZChVWgo3nzCyf4002/AC94ataM7frMTAgwwx71VsVZVwFVDiYkOSsnz/5DQNaQCR8Sfsz7nekZbgHowRD/a/lGsWTXgr2yRupJhhVcYKTJmGtrYDP+Ktu27YODtqhVlLYfRfFRlAekUmplTYV98sG" />
</div>
                              <input name="__RequestVerificationToken" type="hidden" value="BY-s8ZhI7ZLwR7_VQEJygihWD55eIGv0N9uoe3Z5vjAoV9giJTIMJm4iWRPv-8syZn31eQrQ3KTkye_CnluxcLFGN436EiscwlM8m4_PlkQ1" />
                            <div id="pnlLogin">
	
                                

                                <div id="sesler" style="visibility: hidden">
                                    <audio id='aPlayer' controls hidden>
                                        <source src='/soundogg.aspx?dc=655' type='audio/ogg'>
                                        <source src='/soundmp3.aspx?dc=655' type='audio/mpeg'></audio>
                                    <script>
                                        function ses() {
                                            var aPlayer0 = document.getElementById('aPlayer');
                                            aPlayer.load();
                                            aPlayer.play();
                                        }
                                    </script>
                                </div>
                                <div class="form-group">
                                   <a href ="#" alt="jfg">
                                        
                                       <br/>
                                       
                                       </a>
                                    
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="txtKullaniciAdIcon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                    </div>
                                    <input name="txtKullaniciAd" type="text" maxlength="20" id="txtKullaniciAd" class="form-control" placeholder="Kullanıcı Adı / T.C. Kimlik No" required="required" />
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="txtSifreIcon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                    </div>
                                    <input name="txtSifre" type="password" id="txtSifre" class="form-control" placeholder="Şifre" required="required" />
                                </div>
                                <div class="form-button">
                                    <input type="submit" name="btnGiris" value="Giriş" id="btnGiris" type="submit" class="ibtn float-right  text-center btnSubmit" value="Giriş" style="width: 50%" />
                                    
                                    
                                    <a id="edevletlink" class="ibtn float-left text-center" href="https://giris.turkiye.gov.tr/OAuth2AuthorizationServer/AuthorizationController?response_type=code&amp;client_id=947e3170-a5fb-11e4-bcd8-0800200c9a66&amp;state=test&amp;scope=Ad-Soyad&amp;redirect_uri=https://mebbisyd.meb.gov.tr/edevletlogin.aspx" style="padding: 6px 10px"> e-Devlet Girişi </a>

                                    <div class="SifremiUnuttum">
                                        <a id="lnkQrcode" class="pull-left text-white" href="javascript:__doPostBack(&#39;lnkQrcode&#39;,&#39;&#39;)">Karekod ile Giriş</a>
                                        <a href="https://mebbis.meb.gov.tr/sifrehatirlat.aspx" id="sifrehatirlatlink" class="pull-right text-white">Şifremi Unuttum?</a>
                                    </div>
                                </div>
                            
</div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    
    <script type="text/javascript" src="js/popper.min.js"></script>

    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script src="ESorusturmaYeni/AdminLTE/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="ESorusturmaYeni/AdminLTE/plugins/input-mask/jquery.inputmask.numeric.extensions.js"></script>
    <script type="text/javascript" src="js/particles.min.js"></script>
    <script type="text/javascript" src="js/jquery.mmenu.all.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script>
        $(function () {
            $("#menu").mmenu({
                navbar: {
                    title: "Mobil Uygulamalar"
                }
            });

            $("#txtDogrulamaKodu").inputmask({ mask: "9 9 9 9 9 9" });


        });
    </script>
    
</body>
</html>
