<!doctype html public "-//w3c//dtd html 4.0 transitional//en" >
<html>
<head>
    <title>MEBBİS -- Özel MTSK Modülü</title>
    <meta name="GENERATOR" content="Microsoft Visual Studio 7.0">
    <meta name="CODE_LANGUAGE" content="C#">
    <meta name="vs_defaultClientScript" content="JavaScript">

    <link rel="stylesheet" type="text/css" href="/Styles/style.css">
    <script language="javascript" charset="ISO-8859-9" src="/scripts/kabartma.js"></script>
    <script language="javascript" charset="ISO-8859-9" src="/scripts/alankontrol.js"></script>
    <script language="javascript">
        function AlanKontrolveKayit() {
            var UyariMesaji = "";
            var frm;
            frm = document.getElementById("FRM_SKT02006");

            //UyariMesaji = UyariMesaji + NumAlan(frm.Gv_kod1_txtGuvenlikKod.value, "Güvenlik Kodu", 9999, 0, false);

            if (UyariMesaji != "") {
                alert(UyariMesaji);
                return false;
            }
            else {
                if (Beklet(13)) {
                    frm.hiddenKaydet.value = "Kaydet";
                    frm.submit();
                    return true;
                }
            }
        }

        function fnIslemSecSilme(KayitNo) {
            var frm;
            var onay;
            var UyariMesaji = "";
            frm = document.getElementById("FRM_SKT02006");

            //UyariMesaji = UyariMesaji + NumAlan(frm.Gv_kod1_txtGuvenlikKod.value, "Güvenlik Kodu", 9999, 0, false);
            if (UyariMesaji != "") {
                alert(UyariMesaji);
                return false;
            }
            else {
                onay = confirm("Seçmiş Olduğunuz Dönem Kaydı Silinecek İşlemi Onaylıyor musunuz ?");
                if (onay) {
                    if (Beklet(13)) {
                        frm.hdnKayitNoSilmeIcin.value = KayitNo;
                        frm.submit();
                        return true;
                    }
                }
                else
                    return false;
            }
        }
    </script>
</head>
<body>
    <form method="post" name="rapor_submit_form" action="../common/reportsubmitter.aspx" target="Raporlar">
        <input name="RaporEkranKodu" type="hidden" id="RaporEkranKodu" value="SKT02006" /><input name="SecilmisKurum" type="hidden" id="SecilmisKurum" /></form>
    <form method="post" action="./skt02006.aspx" id="FRM_SKT02006">
<input type="hidden" name="__VIEWSTATEFIELDCOUNT" id="__VIEWSTATEFIELDCOUNT" value="8" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="0Hs2Tuyencii5rOv9vpggxHSUa1Tyxp8BIF+n3DyJC+z19M/ILB7UiuaFi+gVAr1DbWTemd514WDgqx3BsfmTpEEzFxSvBf1xzRkLGPZ4U2Li0hDpJqbszumZE54bwgJe1sjNt4SXN++qnlJOYf3OnpKAjMMOdpeImtbuUDfqtWxJA33LMCCv/klwIo03eGO7UynhfRkZgvs0wVBe58bo4ocwpdJJOMJLhGLpvu+sTU0CMarf2CK03pBEiD477cnjgFO37+6klv7z5eD0kH+P+6vwCpRZVCZhXuJWs8QcDFmjC5CaDinPTFa0TMH9OeunRdizAKqJESgPgnVW+/Img+RjS4py6eglEu8ZJe3gFSvd/FPZldFrIXbWGfz2oRSQQBONVEaIEMVBGKJRxpFdfmMmblElTxVwfUUPm2KzsmGMLyWAEZLYVMAqvs0c0P/cZUzaLFZPvKy2jD1FUcc9F2xeNft1b/yjaIl7x4NDOZzqMvgT26v7Pt1/BG3WloNhYZSaYlJGtC0jqrRvIUe3Yc4pphk4wXzTNeRUKqSIZ4X+gI9qManhcBtLXR93UT1uslmRQmMxOY9UJgXiIpgYNHylcx1AOokrzKcHGYXr6YaUCnd/qbPJxQD3JZcXa17bMPwPDEtPL0tg5OFHk7yc9MJi+dRkj6ttdqVVp8m35HmVU3TOvrtnH/30d7aGZ3hMRr5JcRInrCBBQ3pWTmEaLm2ZMxadA94p7BQqUIk/M1HxA1OG/91jYKRGhJsd6hqs4tJBnvojbMzkGH4pJpFEwqG+UqP/VeU+gdk4bp1Tl40uyosw9Y5g9g6W97PgFQpMcd3FezPf/EpkZ161stNgfWiPtDRJwhZxz31Tk9usEVF5IAgL8m2xrSN/rOec8ncgeFIYURlwZF0ZS/P5JtUWA7ijvA3PBDUSIMYDTyEWJwlZJrXbhmZhq0LHWsiqo6T0HZGhM5EWXBnh926WBsdvH2hoIgS0e9yWNOKgGlHmMANL0fz1bFwJ4Q/6/NLmOvQ" />
<input type="hidden" name="__VIEWSTATE1" id="__VIEWSTATE1" value="flCfjZ2cfNcJBhYZTz0yba7mzEfUn/4ksNL5zbvaNezYnDOpexZlpQcIsNgmuFRncgF1R4v6MSH2yf8E7Q6ieh9Glekerf6l86FBHBAl+XrQNEl/JlxQzKv91fW5OkVH8SvYbe8Gcj03G7H3mkJplduHCBR+MZXpLponxZ+CjLd7khARJ2pBDp1BXQI5ahKdseE2dwM4sPqx6QJUllLF0NVbI054HyVKmk9ijYCR7MLtuPNWryh2snCXqNgvTIn0NQjJ6uaw0mP/t11aOzr9nNuWNXNJKxqd7gYwVai+qVVHXClEchkM9Nm2q4MEprVxe12QyOASh64QJ2yOdAkdy481hwGpyzfRCSjlTY2kx5EK4JIA4N6tfBGoSZ9ZOyoSNjlSg9iftWdvrlWZCqtDEn0gePcuFFego7PPKKCjOdl5uG5zwH+/h5IoYOmf3/QKNNkDCvEC9YrVoWKhqtgGUDQ1IXHFjKR60MizzBeVFnD3Eb+H/pdY6pRnvxwv7OG0AYR2uQ00PfcmF6o4bPf6iuW7slsNNr/NnGcQgZ0wFGkQ+8MhrBxtk8wQwn9sISzvRm3ZkapcWhKzwxizk6lupTpvOdGrI5C+OekJlCQZLJQSragkVpDuznNLj8G6Q7waxOErlygHC9uY5OPxT7Dfos1/ZFT6mkoc8zquVE3PI8fpGT/zn8AXMaP5hvInwBry8qKV0q42HhX81Z+6F5Z97rYkG8ekyVrN4GMFI0u1BBAjtobi9Fy4qffXJMXJBwMgFB79lHNdXlcuREp/tQS83EfJxCyrwsTyo7pKHC/RnMCNk0oO921nlcaQIOA/VVaUYvEilYYDfBU77SEyQpBFUZ1RRBVKqgnVcO13TG7Q4/thaH8R9bqjoV2mIpEqKZzwrqxQAewig+e0BDZOHHIPvw6YBoBhVIzmdcz67Lj4rwCfLAprCK5C2IdNP6/uAWzQ1sKQTnReVWo8/cNPguFTAy17RuEqRvBjdShFEsB6NFGyDr8lbIt7QE7I6Qo3co1A" />
<input type="hidden" name="__VIEWSTATE2" id="__VIEWSTATE2" value="OIdh0GphBTxcFnHZX/r9+Um+RZqkHHvR/YeXhIQl4xdgl2za/1q37aFWVt2RQXePjrWAZ3NbChuQFBM/+93GD+kyTt8dMxteVmDTkL+MS/fkARaBfz/z6yrmmgXPXitTBQWyi4//NnIelAys96XvBkMx+PXnxxFzysnt2CH1KyOvbowvuJvNa/Ua7frdmPlp+5AVBzHSXO9vy0Ueahkej6dlnBwsg/KHuSzwpxT57XXqsGaPJo8OThz0czun2y3bGmYI8/PmhitWjWFV/s3ow8WBgweD2vnazlkaYtxz9ZeLe1ns4b6/5UfQ3GgKc2q/Y36e8yArUc8ajxXvBOuuQwY+oKQHtigZY4OCSbyiTjLKGkDKZO/X2gQeo8ji0cHRmNXmnr+0+48gS4A1uC8MbmdSd6GQvbcRZ/gKj6yzTBdZvXys3CW2QO6pbyf64xpMkaHjUiQjyUOsGwaAng1CgehxaR/G2KaxyGdEhHeM6rRBi/tySr0oP4MKwrFrocl38zESfeMNM6RXeJFALikjHJpXgeXGcgB/ZTTbaOPOsNdp+FpJBE67UBGxAFkcpUqUAW87NCbFzrwr+iUEISV/m9Br48ro5CewufD9h+C9cbeY/jeeE8hnUY4pAsePcbL+J1tft7bmqzMuUcf8RWMQSsPdoL0p8qh+zC+hpaSy7Pmit3IUcb7lEGmbFwYytCt/aMqRIzyQ+yFcu9N9zyiVki8yzijPzfM0rQz8JLmL2ZhQZq0QvNUmaSqRP+84cgKmazJZ128oY/6OZKRKcQ9St1/fq+t/DPDSDmw6r5AcYYCZMx3KVmftKfgC+P3qSLwgFBoRhK19mvYbHeAwEScCScVUrAgDf0vdJFVgRdDNUCr1Q2YwooHPDSIhB1kBFn/arpcACpy+DdX79a206Vq5H4BEOLnEhVNZVtg0NfuCbn2xPgqA/EPwsCVHfLrWZHhowsc25B54mLnmI1KSFV485SHo31c0ui4pn6oXLQrEzPMDi2aKtVvRo1KNw9LlD8vq" />
<input type="hidden" name="__VIEWSTATE3" id="__VIEWSTATE3" value="KGhRgQaZQ2RwKD2Wg2E3Eofdr5tS6G4XKYrIkKDNHvZeH/hbllyWO+UbSLHXeJF62TG3kF53lCE/sR+8n/kNgakdg9W6bUtVWupAY3iKMzMuMhAw6LaLQHhy7VAzDztPMdFC9vhuVo2PleE2hlFzsHZmQOSznAbULyJf/q6+SR0WYYmu0PtHriMkVH8547HwkB6vM0HRqU27h7BC6S+cAF2YKy+z6zw1JMYFPR1r3gn6W2d81SM9krkjg6ZfewL8UCPXz6qNg/rY/iXi44te9bjUAqbKbxAXdonU0HVapKMJksSBjuVDJEDzZCcM4U81CTnT4HiAVxNiN3jr5gSKE7k4wBC+pTQa5tViB8ApABN6LR4sWUDRXuQxzfs46SrYgQgq33uXSYxBbeaTtLaqsXuVdNx09RrKcejPYuMJ16mXG9YNS/7DEViUnJreN7HwMheyZtebG6D6wmAoOo8yz4nUIAlVmq1TkaacX7ep10JUOWrPwWvMCszLuDW9FIWQY6uZxlZdeCW0VsvyaqrAhfclAxhkB407QiGyCeEQ9otTr3tjYwZB2ulI6hQK47Qk9e9bbS92En8gJvUeXBe/0JZ9/nowgns/hmcU904Ot61lDJ8E109r8iGVuC06u3iG0Y5raHZFBMKgs1xARUbLEItf+Oi9tgryzYBPynI+xaqBZVkkHl4RANJqlOrRyy4vU4gveNq0G48DleFvn8wGNjH8OKhwpvGp+Fwg2HcLAppUR4v9L1AiqvTdoTUk24RStdGrdQnD/+V1IrHKOvoSBRsOthZMhGJcqFCvGm/O3rT4aaUxUaXQO7reeDmgSWN42V39/qEfwnfHEBWNyZR3vdxlEQJVZWbMLzCK/2j5nKkzfv4uBdJY1q/AFf3bxpv9duKPUKC1ImGQEhUwXpCItOCm3HwO27J2A/q1Nn2o4eRwDnJeZgYG3JgkKzc//TEgAxhQZxm3MpK838dXetFG7RQSmdDBvdDpPCOpQ0d6xyHrTazJEycP9+1YM6mwVWqk" />
<input type="hidden" name="__VIEWSTATE4" id="__VIEWSTATE4" value="DW82T6ZzRNmgIYu6+57UyF6xPT1AsOmyZi8NYeR628p8IjOsSdtLgzRV9HKkXJf9tfP7xoaHjYwuQeRSuRxNHAxYDAx9EW1f0L8wzM48kU+ElA8cnTSO9awS5Ds9FaSrywR4dpYjfARvmiPUxgxpvnmO1AvlzQ0ZfkPZGkcXFPZjhPHY0+/9qfDnDukO2z4MmTHi03W6W8aV6SmorWDTla+jmrfPW46FLl/fy2EQE2ktqMg2KjT/FnlgWIV2XL5iBuiRiCZa43B7dToSZgcB8rn1hX/kd38Gx/sre4iCWOxpedgxRAyMVV1CIyBJLq/cGxVZhqczhUitL0/1ga22pM0KE8Ba1lUfKtDuaOjCmKnum71tfFsok5pvzgqjWEPhd1z6NCyw4UWfgQRpriWnS8A9hopwQmuk8ktB2PQ+z8vvF8jj/Kgv8hBY1TCzYiH5e/6uWV10f5GuY4/AYtQHhax9uyQchXkDG0V+VjgtE/yRlQ82BSE1sIdBbSXM/qaHF2RG6GgOIE8ZHR3B3FRu7o0E7A0j9SoyLxuPl5OU/9hk9DdfgzoSe9Av9KuHsOX/lhvz0gCswRsN/YxIHAWkCVrCynWyOlOwEdzm1FcUw/nkYIorGWoVjSDxaP9eBFb83vbNBLfNIKQg2M8CPeOuktNQmE/K6xqwC79rtSrtgz936Vy1Lc/4W6wgzvfOj+nu9jahjIEo7clTCyY9Uth34SOt3nQV3HJTLpOAOeJtz81mJ3Wdc7KEsTFqy2sY/Df0eI/DSX1QhixVlSeTJak9hrSjmDgaTcQ10TsWNI+URrdgp1FxVHQpwhssmGopnb5rq2nA+ZrcmYMWzGnKBdftH3+q0hn0tjR69OSeQonu2E7IMP1Quau4kfhfUFnFK8e6Aybos2SOQQOGVKimwfohUQWhXS3gjbcSRAbMpx4cbjMnv2WvxBhy1zDEaHIeD2O3mc4MS6hU77UTDYHA0Yeyu15FwbgdzQxH8k2H+t5ntg+pq8VeOjQWSFZ5iBrEGcw/" />
<input type="hidden" name="__VIEWSTATE5" id="__VIEWSTATE5" value="WtUNjrvxbbSWOWgtgWfZyOB4WNhppjRh7hLnlb6O9nKPfTIjdo6pA7TV1f/yf1fV+wRD7bh4aOTIBSX5i6pGB8lXYek6MUF5kPxCcIdEcGxc/LJL6wIPtEA0yuUKxXmATC/vWJd4hURmmAgsk93pS3lP4/80hQdUbJq1T52Wo/FGPRV4rKDqobpbzidYi3y++bjnPPMnnUT7vfP+c7hXU0Ooy+3inhlAsG3Eb1KlgG3omSvdQoJ33+1+O8OWiBDd2EjuPNgQzHCWlMDTScgmFNbME8pbOMfBPRkqFzzTTKqxXgC0iz5McKvzC19jcOHoeO2ZcIxTnWDnbkx1focwZsaS58Kzypi4u/jEN2Y0pFdvbkP3jkmydMXRVvl7xlnKZkTqBinYifNubBlNWIcYWfjkC2PfzbKeJPuKx8AMLF3xhkCDW5EOx/eF8dDnsoD74cE/p7lNz5X2azz/QRh4bykjaaIxelnVt+jTyhouxJkrPi0qml9AELjkoz54EOeximnR4pk46uCxZyQC7NpT1c2cP/7ldjppmJ2fyy1EGDMTSbe83Uf6V49WQCv5PoKlb5IKLKBwMbuIwHG4HHbT6jrJQ6ksVM+xDAdP3Q2FGnxSbS65d31mPdmjcMzhFKdFI4WuoqpXNl7VX2zfSY6baF0jTAjMih2fd+ICkkU3BEf+9YwiMucZNvQ/9fxl7hzMR1JyIGDe4upQxWtKfxbEdqp/QfYRdNC4o1r9KBC8LPz+twg/73l7BKLrix+rpN7ZCOfqpwpBgvWoH2RePrMt3zOf3YrAIMiz1hfYq8jpawDpC3C1pbRcY/j6OX88jtd7BnazcDI7wxjSkA07noSPoK8O5r9oplHetbhvHlBkL8YpphGPhZz2dne5NCAopxt6sxN8GtRnsX8uKBYs5lIvSiT+/ZTkzRTfQyLaNYbywOeWmMQABWeRyg2wWKrlmHXDiqUs/GvliVLhnOmKtcHe1YbnnaGfLQ69nLFmFxLORKPcTa0kxzTXxVIWp6feqRnN" />
<input type="hidden" name="__VIEWSTATE6" id="__VIEWSTATE6" value="69BiUP8Yi2xLU6/sfmkRZVlcmwREpfaEkUB+mkeYCuyiqj1xjYOFGCTMryIE5xMSlggUrweGj9TSxmu4pIPZeaeukPtD04zGbRiig2q6ld1KEcWJOXwUcITFz/Ufxwd7RUZvwXSZ/uOAt7hfEiDoy7Rl8wcVHqAMdpjqTD1O0Zq0WsqPQhOF6ngCESjE2fdqDBWSFwvp6P9pQGX3jjblQ2hZzn9kEgKteil6xg5MXaEcwdsgE7slLRrGZKhg+iCVofAwLUxu+Yiqp+xca6NoLRFmeNSwlPLFRxqcjn3hxqmJQ310k3452Txhehz0FlTt8MAaf4aQ2yvMH4PPA9A8AGQCAKfO4M1rqYYbCo+lRrvsnLlZUfD7Uztb46F5MQpojHwny47PD5pRb3ZxYWGQSq8bey+5KKMnfJmdjMa3QX2Ae+SMZl00Rv0mhwYHeKFna40mEfuP6AkNKTfWoprB8LfD3/o07FIpZ5MV4sbywbkIqclV7A6vaLBGWszpQFgx4tU1ucAlntQ0gjOUHm1shKCKXCoxiFIPToZtl1ettDhPMAL3AzoZNmYY2HVMcC25usgF/lTViwkRXtPA/Eu3ePDGL0DNJl88rkGLjVeMbsbiMY8Bd8PsMonGTyjw4Ff2KCrygBvk163oxiJouSkN/dNaNhjBRB7d/FJekA9L+TPln1mY/cUmbOOskDnTOBJapV/mbwF1X8hmhU20FRxrqwVtGxutjrtJv5UNIH4sJ3kTQpSvJKOyQ7hGSGswxsjNaehaIw0phwweRhXv7lnHcUlz9LBeDumt0yAMMC7USGXL515LnZ/w9CDggzjF838dewIsXIWHAyLkVT7XiMD9JYktX4nnDoyZYWDaV6n3FqZCRiDXq/7TLfMTqKKKoLOTCpFSkBVrLXT0tV1i5iVVDSGe7i/JQZbsHfef4DaGyoG6N4uIrcYI7Ln4wcGwVMmR8DsjZz16IxYtTQZkS7CzH2jTSkGNwEWTD0ZijKBQvyI0bQt5jYx1XIP9uXfo3ZQr" />
<input type="hidden" name="__VIEWSTATE7" id="__VIEWSTATE7" value="rOKLHDvL0FLksG/+1moncwlEy3dIXfFtHsepANyC7+8Y3KTmb3O74MC1SeI1XoesWO4BcRz5zU/Ia/6LFGg6G97eeHdgSeprPFUWAJdKBdH/vJfsb7OJUkmoXFT/mDv6l5PUHkaThtDfJF0oOxOoE6znZmaF/LVYRiWY80nHGbtHhZZdC4Q7jwfpFv2nIB0enIvD0UN/448KNvhyBRVhGRb2SWqlvF6QDClxNdvM+F0E/rBdviOwY66Wi0eOBPqCcS989KcuwilwdgyG0oBZhV6FCyYEyvw57+G+6XeEHegOx56WaEUP7Q+uVJhDO/rP" />

<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="F7B7D943" />
<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="LtjNNe5EnM7EYMbFeoUilcnGBkHL6hHKMOPptNEf8ie92N9jB6xYAmpefaCtd5lFIWsMGPYV7fHXnisvC+TIvSo0RzeP26z09h4vDZxHtoxKOJvQ6nYgPDnl4oHCvehxc5P7QE0WRbrDducY+OtAKRdUCuek34ZhXG11IRKXCjw0eivQxk6CzmtqajvuEfLyGZd+mZCkoDAvjmbj0Wtg9QqwkgI7oGRj5/EEPJZKMVfA487/EQ9yGmXmu+EHlUmXCiBd+5OH1MOlixI3f0TizVZJzVICJnxEXhOVDDjzqR8i4Xu49d/P4HxrMVr0uq5w6pRK+6lqDKEWMg9zpIAuDqniAbZIBTJzs8De11caIq3RpYwG30xOYE8y7UjKDtIDkpu5yvhSVc3k7GiuxWHHuoA4o4h/h+1jiAjJYUM0P6Ya1B0LR233o22BzkedOaWnjYYOrlsokK8N3MMXlRiXNB3ut2rCth4zzTccWCudOAdGsBkrblprXCkyJaEUZmAdg4xBRVRJjuilpM2H3htMOjx4fr80jwJjmX8UXWR063gESiqjKi6MRWjCT3voC+WdRc9wTOW4cBxKjaN1tbHuwRyvwT+WhWM+u3thg3JxVXZYwLob1j7b5onJxSZk/dFho6oH2FCSyehcyepQPxTZUryyKsQOjVfJjl7//0eWhRCvv6VofaZntiCe+WX3D4XF7FJGwrzQZHACIObkCKA3JF88EEuggXR8KyTVvy64B96+0qo+JW4r5DV5mJdrmbzunTzst1dcCBvjHXQBeiFfE6FhpZGkrtIn4uIIEsMJQNJWd6qt9mC2NzSQjZkX0hGjv8TljMaqkgYUpLasw8IRUfMX9iW4TVgQt2p9ZwdcspomIdO1Jm64wQPP67kHs19O3qXTcGBlDWR82S9NqhqrcHDGtdxsBVVrMQkm54Z7v66TJyBvWBwUe0EgFSRQ7hV7tfcGMrsDuM4zn+lg5whW/Eom7d6DwTeqdA1HEqQ8UchBVGPrfAJlh96gkpzEVgiNBDaF7SwL6boBjtgmdBWLRRKFFB8AjQPmugGq+oUfN5FxzlRlMX1RZbMF0XEGMinDELD3VwBlJCDOMDjsX5hSIgxD9ZUoj+4yfC6BuIC9SJJrXIbacdI84nukM4WCT1Ts7NdqCWBoE+5qks+We6dUy3oXTcGHYY+Cfz/Jf3XqV/hgAiTELBQ5Wh/LThUkP5knoSiFFueAYHJD34i6ftbcZ1sEj9cBpZFdBgjJIEx7A5oH8Lx8wYw9l8XIpTGSsA4fzqS9P236fVEdawsyZtJSxnMJO4cnFR9oj3EUelpXS3d9EuZwADlvXlyhA+LSfTuXCeGCLu5qvjFK0vmRXuySgKPzhlvL9Lbw/70gna2JHVTrLGOhpk7eZty2zSwIfL4MI0gfCc8+DczauwvjkQrLAbatdVvM1C6bteDErRpWUcNYRU8/tXx4UpdXNyPYNdd/kS7Z61s+kVCd02DuJl0MD0XYnKdm4/aS49St495wS0WnTQQZHDa14VQLls+bg/6dgn1HVlEgHHxo7vqrVrEYTCqpTbghgg9s6fyIdBhY/8fgbLqiTFi+wRQVL0tBi5f/nH0ZjebRVoaMqyxnRI+FMO5SMPYQ6tHY8ILjCfHvWpNXf2MNIEVK+QfnxSNX49BjzvxcJtmHHQbOfZzfhF4REfjzud/RmHspExSwOVw5oWk/QNCk/le6Yk7XKUiQDt0iJSDXQ9TJLCukAMdFD5B4AIM95qAUQRgu5xgKcJYcm00AtMrTWU4zKTAP/IKbzZsompKCfvL8grgAGuqTiJLjrKWpAnaIgTJ4MDJbKhw3RPrmIWCrdpQmH8c/PEbA40vGzUtBkOCgF3d87kUrcaK37UROmAFBZgMAeL9bgzyKyuW5q0LEkDcnxNGAj2EYl0ou+hbhmxEdIViN1H66KFRSp4X7U53cruAK2e/sKAtRXyTkPY/ee/G1NE17AR5m367YbjO64vD3Pe9hMlRqv5euIMuSw2hNWIWA4eolQzJyfKPO4tMTFgcd4KzIgPlIi7v9b6FJFDKrpxJcRazy9ospEpVPFI4yKwnsccp5BDexqZN/pcntR1G8pXX3Z+j1WFkG7vDGd1pr+saYe/+YuaNWuTG3GE24xbLZkyW3Xk97Qc04rsJ4LGiWAvoEJczur26yuKP3HDFjLeqEz/mFO+jWpeRtBmepUdozEjyCEQPV9pgIQg00OEXnh8EOUSSACrxf6T8LtMWPv7dxi7S6tPL74gQ+TGjClAdK2Q0UF20GkoE1UWNikZG7G1a4djKpRgYdgbgA3r7In3Iys0WQExVByseupH9JoPYoxXC2JBb5wgcfDxAxJDfBPUnRrutTBz4mEYCvrl0DRuVXSzv8mKi54b8euD2zzT+mSDmach8+UTmJ5tbNV1wfj0y9ubHKwViv7pAfCijtcinHgRfKCIrKsQA1olDCzkJNKih21gR6tKkmqUbiO8QyyWah8lfYfdSDHHfbN1AUI9umO0lKG9sqLT6vjQY6Hx6JLv+4RcnQvrp5ee4Sx9gu0kG6LAQV4xCJOSO5mpT8ziHI4cIvlvyMF/L6Bm9Tu1gvRkfQk+lLDH3l/tGEhUiehYEHMe3HUOiYarp9Zie1yv1/LHeDoec2JvD2OTw0TsDcEdigxgtvl/2v3cCZY1FkT3vCFs0v7fD/rwgzTR3yg5DZqFaKV8cK86bftlewFC3Dio1Dea3ZsZP8/Q3swqeV1m0k5ps3UjoZRnb+9Zf1cz3x0RGhbMWtHforXdF7NzR9sLQv5VdqENkJxbyMHNwDLiRQQzWTL5fqSssFdwe8YGxQaYQ90ee3AfSQKEs0jHyQLb046M5glGC2wyPNz4Gjqcr7+hNc1UlfhSHvZt/AtMeYcuDn4v5XStr5BofbV8kXEgdCU3Esed0MikNAydNBQ8ZwfI/JZMvoiI+AjJ+CEHY7FKxhSddfKI1j9ZMfsZHX2kxrbQni0/VPszNkZojbJHbr6OUvwhTmeDp0sOwIDK/rY28DZeNAw1KdjWejrvDlqFoeSDk7oHJYLew3F045V4Hw1ApC8JxWnWoFIk0cP12aocwj36ZhZrrBw3Midd5ldKHNETjAGbU2hFOQMXQdLpm9oA6CHVSbeZyaFZ7MQixXxly8B9JWjgLFsENqAeMjKrJ/4wyY+OSh+eTWgJdjiMmZwEFL2FU4+e5HzZFSzxn9YGCZwgWHRaO5y0U8EHDuScLVi9tIqUDJ3ZuhpeMweWWaL2X6wFmVwKTHNArqKDHtuiA8ub3Lb8twPpJ8ipuQP/VflgnrFnMscBaeIjwec357teNcbLJeCtkJ2OLmMreWOUbLFJpDRoaCyrQcEmGy4gMJgCjqoycnMzcNimLdjhMD7l/T5diVvt8Elefv5CdA8Hd0o8cQPnmSkbzMVBG63+I8iy87GzKhje5GSbu4Qzd7Ho2sp17KTnYs2zFYEHBZifxCy+4e1x+abm9Y94U6OYVqsUpOEcQN9Zp5YtBB+GXIHgfEMpvWWenJtOWCphKJIflONBBmzzF1cPNk7zXuDQHh34II8VALCVt354UzSg/ByWQ2d4/0dlitVm+6S2VcUZ3z29zV1+NdWs7oburQBb7Lfv6YJekVmEoFovu7B5e/H217P1Rvo0E03x4a8lMz50K+ZhcEk0oQntVAxc4yRg27TQ1vUZpVLuGg8M35z85X1S7o+sqt1OU8++dcwbM5oKf2aj4cU03dN+Zj/VMQFR2ZWz/bsKP58xV7dPcTBRt05uP/fiU8yfkSWFOhHFaP2A422Invht0JDaCRC0uUCw+Ih7hfOVkohstPRzmytYT4rdpYORhWnrFHCyt3WWYDk+Ezc4Ks4ZpqQUAXMWxH5MlXDC6GoGzSc1G5ndKl2qzTBRMWl/ropXc50DMgl2B/SQm9yEBbVKE2M+7N6YLjPugzWcHOgxPH1gx76fEzgnOI9pV313fbAeASCT6fukdfb4QDwoZq6zkIJ5omfmqyS1STj7TxHAXPYsHwYAal4EI+mOCon4BnqId2aX5fb7022nshBtJElbJg1SOX7Am36vkhpXIjoQ0vmawEfgAxVbx3CkhTQo5LktKMqC3Po+YQ3uf5FIudZiv3+2oMKkiLcJ4BBJDmEzKCDBQ2g9Bit+qX3BQreH/6+fVoSenW7iVO0ZDu+usOPg2kEq4Gd0A/9ObUNnBO3W2P8pIfAZwtc2wh9vl+EVEnI2Bb7dPUzf+YX44yNGRZdP29hzF9L1TlhqXzrqFqWEYBAPLSFKnjN4ds6Ri45dhTPOC6hdtPcTpGHUbIZmM22YPIzxMEUuaRzHG5MPvA8ns=" />
        <table cellspacing="0" cellpadding="0" width="100%" border="0">
            <tr>
                <td height="30">
                    
<script language="javascript" src="/scripts/header.js" charset="ISO-8859-9"></script>
<table class="solidBorderTable" id="Table1" height="40" cellspacing="0" cellpadding="0"
	width="100%">
	<tr>
		<td class="kabartmaBorder">
			<table id="Table2" cellspacing="0" cellpadding="0" width="100%" border="0">
				<tr>
					<td class="header1" rowspan="2"><img src="/images/mebbis.png">
					</td>
					<td class="header1" align="left" width="16" rowspan="2"></td>
					<td class="header3" valign="bottom" align="left">MEBBİS -&nbsp;Özel MTSK Modülü</td>
					<td class="header3" valign="top" align="left" width="200" rowspan="2">
						<div id="Beklet" style="Z-INDEX: 101; VISIBILITY: hidden; WIDTH: 200px; POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff; layer-background-color: #FFFFFF">
							<table class="solidBorderTable" id="Table3" height="100%" cellspacing="0" width="100%"
								border="0">
								<tr>
									<td class="header3" align="center" width="30"><img height="20" src="/images/bekle.gif" width="20" border="0">
									</td>
									<td class="header3">Lütfen Bekleyiniz..</td>
								</tr>
							</table>
						</div>
						
						<div id="IslemSonucuBulunamadi" style="Z-INDEX: 1; VISIBILITY: hidden; WIDTH: 200px; POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff; layer-background-color: #FFFFFF"></div>
						<div id="IslemSonucuIPTAL" style="Z-INDEX: 103; VISIBILITY: hidden; WIDTH: 200px; POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff; layer-background-color: #FFFFFF">
							<table class="solidBorderTable" id="Table7" height="100%" cellspacing="0" width="100%"
								border="0">
								<tr>
									<td class="header3" align="center" width="30" rowspan="2"><img height="20" src="/images/info.gif" width="15" border="0">
									</td>
									<td class="header3">İşleminiz İptal Edilmiştir.</td>
								</tr>
							</table>
						</div>
					</td>
					<td class="header3" valign="bottom" align="right"><span id="SktPageHeader1_lblKullaniciAdi">AYINTAPBERİVAN</span></td>
					<td valign="top" align="right" width="10" rowspan="2"></td>
				</tr>
				<tr>
					<td class="header2" valign="bottom" align="left"><span id="SktPageHeader1_lblKurumKodu">99958059,ÖZEL AYINTAP 2 MOTORLU TAŞIT SÜRÜCÜLERİ KURSU</span></td>
					<td class="header3" valign="bottom" align="right">Aktif Kullanıcı:<span id="SktPageHeader1_lblAktifKullaniciSayisi"></span></td>
				</tr>
				<tr>
					<td></td>
				</tr>
			</table>
		</td>
	</tr>
</table>

                </td>
            </tr>
            <tr>
                <td valign="top" width="100%">
                    <table id="Table2" cellspacing="0" cellpadding="0" width="100%" border="0">
                        <tr>
                            <td valign="top" width="130" align="left">
                                
                                
<link href="/Styles/style.css" type="text/css" rel="stylesheet">
 <script language="javascript" charset="ISO-8859-9" src="/scripts/submit.js"></script>
<script language="javascript" charset="ISO-8859-9" src="/scripts/menu.js"></script>
<table id="Table1" cellspacing="0" cellpadding="0" width="120" border="0">
	<tr>
		<td>
			
			<table class="solidBorderTable" id="KurumAramaLink" cellspacing="0" cellpadding="0" width="120">
				<tr>
					<td id="SktMenu1_TD_KurumArama_2" onmouseover="javascript:kabartmaOvr(this)" onclick="if (Beklet(13) != false) window.location.href=&#39;skt00001.aspx&#39;;" onmouseout="javascript:kabartmaOut(this)" width="102" height="20" class="kabartma">Ana 
						Sayfa
					</td>

				</tr>
			</table>
			<table height="5" width="125">
				<tr>
					<td></td>
				</tr>
			</table>
			<table id="SktMenu1_TB_AnaMenu" class="solidBorderTable" cellspacing="0" cellpadding="0" width="118">
	<tr>
		<td><table width="118"	cellpadding="0" cellspacing="0"><tr><td colspan="2" title="Kurum İşlemleri" class="kabartma" onmouseout="javascript:kabartmaOut(this)" onmouseover="javascript:kabartmaOvr(this)" height="20" onclick="GosterSakla('SKT01000')">	<img src="/images/current_kucuk_yan.gif"><img src="/images/imgSpacer.gif" width="3">Kurum İşlemleri</td></tr></table><table width="118"	cellpadding="0" cellspacing="0"	id="SKT01000" style="visibility:hidden;position:absolute;"><tr><td width="5" rowspan="4"	class="kabartma"><img	src="/images/imgSpacer.gif"></td><td title="Kurum Bilgileri"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt01001.aspx';" class="kabartma">Kurum Bilgileri</td></tr><tr><td title="Kurum Araç Giriş / Görüntüleme"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt01002.aspx';" class="kabartma">Kurum Araç Giriş / Görüntüleme</td></tr><tr><td title="Kurum Derslik Giriş / Görüntüleme"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt01003.aspx';" class="kabartma">Kurum Derslik Giriş / Görüntüleme</td></tr><tr><td title="Kurum Randevu Tanımlama Ekranı"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt01005.aspx';" class="kabartma">Kurum Randevu Tanımlama Ekranı</td></tr></table></td>
	</tr><tr>
		<td><table width="118"	cellpadding="0" cellspacing="0"><tr><td colspan="2" title="Kurum Aday Kayıt İşlemleri" class="kabartmaActive"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" onclick="GosterSakla('SKT02000')"> <img src="/images/current_kucuk_asagi.gif"><img src="/images/imgSpacer.gif" width="3">Kurum Aday Kayıt İşlemleri</td></tr></table><table width="118"	cellpadding="0" cellspacing="0"	id="SKT02000"><tr><td width="5" rowspan="12"	class="kabartma"><img	src="/images/imgSpacer.gif"></td><td title="Aday Dönem Kayıt İşlemleri"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt02001.aspx';" class="kabartma">Aday Dönem Kayıt İşlemleri</td></tr><tr><td title="Aday Fotograf Kayıt"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt02002.aspx';" class="kabartma">Aday Fotograf Kayıt</td></tr><tr><td title="Aday Öğrenim Bilgisi Kayıt"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt02003.aspx';" class="kabartma">Aday Öğrenim Bilgisi Kayıt</td></tr><tr><td title="Aday Sağlık Raporu Kayıt"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt02004.aspx';" class="kabartma">Aday Sağlık Raporu Kayıt</td></tr><tr><td title="Aday Sabıka Kayıt"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt02005.aspx';" class="kabartma">Aday Sabıka Kayıt</td></tr><tr><td title="Aday İmza Kayıt"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/SKT02010.aspx';" class="kabartma">Aday İmza Kayıt</td></tr><tr><td title="Dönem Adaylarını Onaylama / Görüntüleme"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt02006.aspx';" class="kabartmaActive">Dönem Adaylarını Onaylama</td></tr><tr><td title="e-Sınav Başvuru İşlemleri"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt02007.aspx';" class="kabartma">e-Sınav Başvuru İşlemleri</td></tr><tr><td title="Sınav Sonuç Listeleme"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt02008.aspx';" class="kabartma">Sınav Sonuç Listeleme</td></tr><tr><td title="Aday Durum Görüntüleme"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt02009.aspx';" class="kabartma">Aday Durum Görüntüleme</td></tr><tr><td title="Aday Sözleşme Bilgisi Kayıt İşlemleri"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt02011.aspx';" class="kabartma">Aday Sözleşme Bilgisi Kayıt</td></tr><tr><td title="Aday Adres Beyan"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/SKT02012.aspx';" class="kabartma">Aday Adres Beyan</td></tr></table></td>
	</tr><tr>
		<td><table width="118"	cellpadding="0" cellspacing="0"><tr><td colspan="2" title="Kurum Dönem Açılış İşlemleri" class="kabartma" onmouseout="javascript:kabartmaOut(this)" onmouseover="javascript:kabartmaOvr(this)" height="20" onclick="GosterSakla('SKT03000')">	<img src="/images/current_kucuk_yan.gif"><img src="/images/imgSpacer.gif" width="3">Kurum Dönem Açılış İşlemleri</td></tr></table><table width="118"	cellpadding="0" cellspacing="0"	id="SKT03000" style="visibility:hidden;position:absolute;"><tr><td width="5" rowspan="4"	class="kabartma"><img	src="/images/imgSpacer.gif"></td><td title="Dönem Grup Açılış Tarihi Giriş"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt03001.aspx';" class="kabartma">Dönem Grup Açılış Tarihi Giriş</td></tr><tr><td title="Grup Şube Tanımlama"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt03002.aspx';" class="kabartma">Grup Şube Tanımlama</td></tr><tr><td title="Teorik Ders Programı Giriş"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt03003.aspx';" class="kabartma">Teorik Ders Programı Giriş</td></tr><tr><td title="Direksiyon Eğitimi Ders Programı Giriş"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt03004.aspx';" class="kabartma">Direksiyon Eğitimi Ders Programı Giriş</td></tr></table></td>
	</tr><tr>
		<td><table width="118"	cellpadding="0" cellspacing="0"><tr><td colspan="2" title="Listeleme İşlemleri" class="kabartma" onmouseout="javascript:kabartmaOut(this)" onmouseover="javascript:kabartmaOvr(this)" height="20" onclick="GosterSakla('SKT04000')">	<img src="/images/current_kucuk_yan.gif"><img src="/images/imgSpacer.gif" width="3">Listeleme İşlemleri</td></tr></table><table width="118"	cellpadding="0" cellspacing="0"	id="SKT04000" style="visibility:hidden;position:absolute;"><tr><td width="5" rowspan="3"	class="kabartma"><img	src="/images/imgSpacer.gif"></td><td title="Teorik Ders Programı Görüntüleme"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt04001.aspx';" class="kabartma">Teorik Ders Programı Görüntüleme</td></tr><tr><td title="Direksiyon Ders Programı Görüntüleme"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt04002.aspx';" class="kabartma">Direksiyon Ders Programı Görüntüleme</td></tr><tr><td title="Sınav Bilgileri Görüntüleme"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt04003.aspx';" class="kabartma">Sınav Bilgileri Görüntüleme</td></tr></table></td>
	</tr>
</table>
			<table height="10" width="125">
				<tr>
					<td></td>
				</tr>
			</table>
		</td>
	</tr>
</table>

                            </td>
                            <td valign="top" width="5000" align="left">
                                <input name="hdnKayitSec" type="hidden" id="hdnKayitSec" designtimedragdrop="768" /><input name="hiddenKaydet" type="hidden" id="hiddenKaydet" />
                                <input name="hdnKayitNoSilmeIcin" type="hidden" id="hdnKayitNoSilmeIcin" />
                                
                                <table class="frmDis" cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
                                    <tbody>
                                        <tr>
                                            <td colspan="3">
                                                <table class="frmBaslik" cellspacing="0" cellpadding="2" width="100%" border="0">
                                                    <tr>
                                                        <td>Özel MTSK Modülü</td>
                                                        <td></td>
                                                        <td align="right">SKT02006</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="frmDisToolbar" height="10" colspan="3">
                                                
<table width="100%" border="0" cellspacing="0" cellpadding="1" >
	<tr>
		<td width="100%">
			<table border="0" cellspacing="0" cellpadding="0" >
				<tr>
					<td id="IncToolbarActive1_yeniKayit_b" width="25"><img border="0" src="/images/toolimages/new_d.jpg" alt="Yeni Kayıt" /></td>

					<td id="IncToolbarActive1_silme_b" width="25"><img border="0" src="/images/toolimages/delete_d.jpg" alt="Sil" /></td>

					<td><img border="0" src="/images/toolimages/seperator.jpg"></td>
					<td id="IncToolbarActive1_kaydet_b" width="25"><img border="0" src="/images/toolimages/save.jpg" style="cursor:hand;" alt="Kaydet"  onmouseover="this.src='/images/toolimages/save_a.jpg'" onmouseout="this.src='/images/toolimages/save.jpg'" onclick="return AlanKontrolveKayit();"/></td>

					<td id="IncToolbarActive1_cancel_b" width="25"><img border="0" src="/images/toolimages/cancel_d.jpg" alt="Kaydet" /> </td>

					<td><img border="0" src="/images/toolimages/seperator.jpg"></td>
					<td id="IncToolbarActive1_find_b" width="25"><img border="0" src="/images/toolimages/search_d.jpg" alt="Ara" /></td>

					<td id="IncToolbarActive1_print_b" width="25"><img src="/images/toolimages/print.jpg" style="cursor:hand;" alt="Yazdır"  onmouseover="this.src='/images/toolimages/print_a.jpg'" onmouseout="this.src='/images/toolimages/print.jpg'" onclick="return SubmitRapor();"/></td>

					<td><img border="0" src="/images/toolimages/seperator.jpg"></td>
					<td id="IncToolbarActive1_refresh_b" width="25"><a href="skt02006.aspx"><img border="0" src="/images/toolimages/refresh.jpg" alt="Yenile" onmouseover="this.src='/images/toolimages/refresh_a.jpg'" onmouseout="this.src='/images/toolimages/refresh.jpg'"/></a></td>

				</tr>
			</table>
		</td>
		<td>
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="25">
						<img src="/images/toolimages/hata.gif" id="IncToolbarActive1_imgHataBildirim" border="0" style="CURSOR:hand" onmouseover="this.src =&#39;/images/toolimages/hata_over.gif&#39;;" onmouseout="this.src =&#39;/images/toolimages/hata.gif&#39;;" alt="Hata Bildirimi" onclick="SubmitHata(&#39;SKT&#39;,&#39;SKT02006&#39;,5895763)" />
					</td>
					<td id="IncToolbarActive1_help_b" width="25"><img border="0" src="/images/toolimages/help_2_d.jpg" alt="Yardım"/></td>

					<td id="IncToolbarActive1_exit_b" width="25"><a href="../main.aspx"><img border="0" src="/images/toolimages/exit.jpg" alt="Çıkış" onmouseover="this.src='/images/toolimages/exit_a.jpg'" onmouseout="this.src='/images/toolimages/exit.jpg'"/></a></td>

				</tr>
			</table>
		</td>
	</tr>
</table>

                                            </td>
                                        </tr>
                                        <tr><td colspan="3">
                                        
                                        
                                            </td></tr>
                                        <tr>
                                            <td height="10" width="2%"></td>
                                            <td width="96%">
                                                <table class="frmDis" cellspacing="0" cellpadding="2" width="100%" border="0">
                                                    <tr class="frmBaslik">
                                                        <td colspan="9">Aday Kayıt İşlemleri</td>
                                                    </tr>
                                                    <tr class="frmInput">
                                                        <td width="1%"></td>
                                                        <td width="17%"><strong>Dönemi</strong></td>
                                                        <td width="1%"><strong>:</strong></td>
                                                        <td width="31%">
                                                            <select name="cmbEgitimDonemi" id="cmbEgitimDonemi">
	<option value="-1"></option>
	<option value="1">-T&#252;m D&#246;nemler-</option>
	<option value="202503">2025 - Mart</option>
	<option value="202502">2025 - Şubat</option>
	<option value="202501">2025 - Ocak</option>
	<option value="202412">2024 - Aralık</option>
	<option value="202411">2024 - Kasım</option>
	<option value="202410">2024 - Ekim</option>
	<option value="202409">2024 - Eyl&#252;l</option>
	<option value="202408">2024 - Ağustos</option>
	<option value="202407">2024 - Temmuz</option>
	<option value="202406">2024 - Haziran</option>
	<option value="202405">2024 - Mayıs</option>
	<option value="202404">2024 - Nisan</option>
	<option value="202403">2024 - Mart</option>
	<option value="202402">2024 - Şubat</option>
	<option value="202401">2024 - Ocak</option>
	<option value="202312">2023 - Aralık</option>
	<option value="202311">2023 - Kasım</option>
	<option value="202310">2023 - Ekim</option>
	<option value="202309">2023 - Eyl&#252;l</option>
	<option value="202308">2023 - Ağustos</option>
	<option value="202307">2023 - Temmuz</option>
	<option value="202306">2023 - Haziran</option>
	<option value="202305">2023 - Mayıs</option>
	<option value="202304">2023 - Nisan</option>
	<option value="202303">2023 - Mart</option>
	<option value="202302">2023 - Şubat</option>
	<option value="202301">2023 - Ocak</option>
	<option value="202212">2022 - Aralık</option>
	<option value="202211">2022 - Kasım</option>
	<option value="202210">2022 - Ekim</option>
	<option value="202209">2022 - Eyl&#252;l</option>
	<option value="202208">2022 - Ağustos</option>
	<option value="202207">2022 - Temmuz</option>
	<option value="202206">2022 - Haziran</option>
	<option value="202205">2022 - Mayıs</option>
	<option value="202204">2022 - Nisan</option>
	<option value="202203">2022 - Mart</option>
	<option value="202202">2022 - Şubat</option>
	<option value="202201">2022 - Ocak</option>
	<option value="202112">2021 - Aralık</option>
	<option value="202111">2021 - Kasım</option>
	<option value="202110">2021 - Ekim</option>
	<option value="202109">2021 - Eyl&#252;l</option>
	<option value="202108">2021 - Ağustos</option>
	<option value="202107">2021 - Temmuz</option>
	<option value="202106">2021 - Haziran</option>
	<option value="202105">2021 - Mayıs</option>
	<option value="202104">2021 - Nisan</option>
	<option value="202103">2021 - Mart</option>
	<option value="202102">2021 - Şubat</option>
	<option value="202101">2021 - Ocak</option>
	<option value="202012">2020 - Aralık</option>
	<option value="202011">2020 - Kasım</option>
	<option value="202010">2020 - Ekim</option>
	<option value="202009">2020 - Eyl&#252;l</option>
	<option value="202008">2020 - Ağustos</option>
	<option value="202007">2020 - Temmuz</option>
	<option value="202006">2020 - Haziran</option>
	<option value="202003">2020 - Mart</option>
	<option value="202002">2020 - Şubat</option>
	<option value="202001">2020 - Ocak</option>
	<option value="201912">2019 - Aralık</option>
	<option value="201911">2019 - Kasım</option>
	<option value="201910">2019 - Ekim</option>
	<option value="201909">2019 - Eyl&#252;l</option>
	<option value="201908">2019 - Ağustos</option>
	<option value="201907">2019 - Temmuz</option>
	<option value="201906">2019 - Haziran</option>
	<option value="201905">2019 - Mayıs</option>
	<option value="201904">2019 - Nisan</option>
	<option value="201903">2019 - Mart</option>
	<option value="201902">2019 - Şubat</option>
	<option value="201901">2019 - Ocak</option>
	<option value="201812">2018 - Aralık</option>
	<option value="201811">2018 - Kasım</option>
	<option value="201810">2018 - Ekim</option>
	<option value="201809">2018 - Eyl&#252;l</option>
	<option value="201808">2018 - Ağustos</option>
	<option value="201807">2018 - Temmuz</option>
	<option value="201806">2018 - Haziran</option>
	<option value="201805">2018 - Mayıs</option>
	<option value="201804">2018 - Nisan</option>
	<option value="201803">2018 - Mart</option>
	<option value="201802">2018 - Şubat</option>
	<option value="201801">2018 - Ocak</option>
	<option value="201712">2017 - Aralık</option>
	<option value="201711">2017 - Kasım</option>
	<option value="201710">2017 - Ekim</option>
	<option value="201709">2017 - Eyl&#252;l</option>
	<option value="201708">2017 - Ağustos</option>
	<option value="201707">2017 - Temmuz</option>
	<option value="201706">2017 - Haziran</option>
	<option value="201705">2017 - Mayıs</option>
	<option value="201704">2017 - Nisan</option>
	<option value="201703">2017 - Mart</option>
	<option value="201702">2017 - Şubat</option>
	<option value="201701">2017 - Ocak</option>
	<option value="201612">2016 - Aralık</option>
	<option value="201611">2016 - Kasım</option>
	<option value="201610">2016 - Ekim</option>
	<option value="201609">2016 - Eyl&#252;l</option>
	<option value="201608">2016 - Ağustos</option>
	<option value="201607">2016 - Temmuz</option>
	<option value="201606">2016 - Haziran</option>
	<option value="201605">2016 - Mayıs</option>
	<option value="201604">2016 - Nisan</option>
	<option value="201603">2016 - Mart</option>
	<option value="201602">2016 - Şubat</option>
	<option value="201601">2016 - Ocak</option>
	<option value="201512">2015 - Aralık</option>
	<option value="201511">2015 - Kasım</option>
	<option value="201510">2015 - Ekim</option>
	<option value="201509">2015 - Eyl&#252;l</option>
	<option value="201508">2015 - Ağustos</option>
	<option value="201507">2015 - Temmuz</option>
	<option value="201506">2015 - Haziran</option>
	<option value="201505">2015 - Mayıs</option>
	<option value="201504">2015 - Nisan</option>
	<option value="201503">2015 - Mart</option>
	<option value="201502">2015 - Şubat</option>
	<option value="201501">2015 - Ocak</option>
	<option value="201412">2014 - Aralık</option>
	<option value="201411">2014 - Kasım</option>
	<option value="201410">2014 - Ekim</option>
	<option value="201409">2014 - Eyl&#252;l</option>
	<option value="201408">2014 - Ağustos</option>
	<option value="201407">2014 - Temmuz</option>
	<option value="201406">2014 - Haziran</option>
	<option value="201405">2014 - Mayıs</option>
	<option value="201404">2014 - Nisan</option>
	<option value="20143">2014 - Mart</option>
	<option value="20142">2014 - Şubat</option>
	<option value="20141">2014 - Ocak</option>
	<option value="201312">2013 - Aralık</option>
	<option value="201311">2013 - Kasım</option>
	<option value="201310">2013 - Ekim</option>
	<option value="20139">2013 - Eyl&#252;l</option>
	<option value="20138">2013 - Ağustos</option>
	<option value="20137">2013 - Temmuz</option>
	<option value="20136">2013 - Haziran</option>
	<option value="20135">2013 - Mayıs</option>
	<option value="20134">2013 - Nisan</option>
	<option value="20133">2013 - Mart</option>
	<option value="20132">2013 - Şubat</option>
	<option value="20131">2013 - Ocak</option>
	<option value="201212">2012 - Aralık</option>
	<option value="201211">2012 - Kasım</option>
	<option value="201210">2012 - Ekim</option>
	<option value="20129">2012 - Eyl&#252;l</option>
	<option value="20128">2012 - Ağustos</option>
	<option value="20127">2012 - Temmuz</option>
	<option value="20126">2012 - Haziran</option>
	<option value="20125">2012 - Mayıs</option>
	<option value="20120">Eski D&#246;nem Adaylar</option>

</select></td>
                                                        <td width="1%"></td>
                                                        <td width="15%"><strong></strong></td>
                                                        <td width="1%"><strong></strong></td>
                                                        <td width="31%"></td>
                                                        <td width="2%"></td>
                                                    </tr>
                                                    <tr class="frmInput">
                                                        <td width="1%"></td>
                                                        <td width="17%"><strong>Grubu</strong></td>
                                                        <td width="1%"><strong>:</strong></td>
                                                        <td width="31%">
                                                            <select name="cmbGrubu" id="cmbGrubu">
	<option value="-1">--Se&#231;iniz--</option>
	<option value="1">Grup 1</option>
	<option value="2">Grup 2</option>
	<option value="3">Grup 3</option>

</select></td>
                                                        <td width="1%"></td>
                                                        <td width="15%"></td>
                                                        <td width="1%"></td>
                                                        <td width="31%"></td>
                                                        <td width="2%"></td>
                                                    </tr>
                                                    <tr class="frmInput">
                                                        <td width="1%"></td>
                                                        <td width="17%"><strong>Şubesi</strong></td>
                                                        <td width="1%"><strong>:</strong></td>
                                                        <td width="31%">
                                                            <select name="cmbSubesi" id="cmbSubesi">
	<option value="-1">--Se&#231;iniz--</option>
	<option value="1">A Şubesi</option>
	<option value="2">B Şubesi</option>
	<option value="3">C Şubesi</option>
	<option value="4">D Şubesi</option>
	<option value="5">E Şubesi</option>
	<option value="6">F Şubesi</option>
	<option value="7">G Şubesi</option>
	<option value="8">H Şubesi</option>

</select></td>
                                                        <td width="1%"></td>
                                                        <td width="15%"></td>
                                                        <td width="1%"></td>
                                                        <td width="31%"></td>
                                                        <td width="2%"></td>
                                                    </tr>
                                                    <tr class="frmInput">
                                                        <td width="1%"></td>
                                                        <td width="17%"><strong>Öğrenci Durumu</strong></td>
                                                        <td width="1%"><strong>:</strong></td>
                                                        <td width="31%">
                                                            <select name="cmbOgrenciDurumu" id="cmbOgrenciDurumu">
	<option value="0">Kursa Başvuru Aşamasında</option>
	<option value="1">Teorik Sınav Aşamasında</option>
	<option value="2">Uygulama Sınav Aşamasında</option>
	<option value="3">Teorik Sınav Hakkı Doldu</option>
	<option value="4">Uygulama Sınav Hakkı Doldu</option>
	<option value="5">Sertifika Almaya Hak Kazandı</option>
	<option value="6">Sertifikası İptal Edildi</option>
	<option value="7">e-Sınav Aşamasında</option>
	<option value="8">e-Sınav Test Aşamasında</option>
	<option value="9">e-Sınavdan Başarısız Oldu</option>
	<option value="10">e-Sınav Hakkı Doldu</option>
	<option value="11">Kaydı Silindi</option>
	<option value="12">Ceza Kaydı Var</option>
	<option value="13">Kayıt Dondurma</option>
	<option value="14">Kayıt Dışı Aday</option>
	<option value="15">&#220;cretsiz Aday</option>
	<option value="22">2.Direksiyon Aşamasında</option>

</select></td>
                                                        <td width="1%"></td>
                                                        <td width="15%"></td>
                                                        <td width="1%"></td>
                                                        <td width="31%"></td>
                                                        <td width="2%"></td>
                                                    </tr>
                                                    <tr class="frmInput">
                                                        <td></td>
                                                        <td><strong>Onay Durumu</strong></td>
                                                        <td><strong>:</strong></td>
                                                        <td>
                                                            <select name="cmbDurumu" id="cmbDurumu">
	<option value="0">Kurum Onay Bekliyor</option>
	<option value="1">Kurum Onaylandı</option>
	<option value="2">İl&#231;e Onay Bekliyor</option>
	<option value="3">İl&#231;e Onaylandı</option>
	<option value="4">D&#246;neme Kayıtlı T&#252;m Adaylar</option>

</select></td>
                                                        <td></td>
                                                        <td><strong></strong></td>
                                                        <td><strong></strong></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr class="frmInput">
                                                        <td></td>
                                                        <td><strong>TC Kimlik No</strong></td>
                                                        <td><strong>:</strong></td>
                                                        <td>
                                                            <input name="txtTcKimlikNo" type="text" maxlength="11" id="txtTcKimlikNo" class="frmInput" /></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="submit" name="btnListele" value=".:: Listele ::." id="btnListele" class="SubmitButton" />&nbsp;&nbsp;
                                                            
                                                        </td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>&nbsp;</td>
                                                        <td colspan="7">
                                                   
                                                            
                                                            
                                                        </td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr><td colspan="9">
                                                    
                                                        </td></tr>
                                                </table>
                                            </td>
                                            <td width="2%"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td valign="bottom" width="100%" align="center">
                    
<div class="frmFooter">Tüm hakları Milli Eğitim Bakanlığına aittir.</div>

                </td>
            </tr>
        </table>
    </form>
</body>
</html>
