<!doctype html public "-//w3c//dtd html 4.0 transitional//en" >
<html>
<head>

	<title>MEBBİS -- Özel MTSK Modülü</title>
	<meta content="Microsoft Visual Studio 7.0" name="GENERATOR">
	<meta content="C#" name="CODE_LANGUAGE">
	<meta content="JavaScript" name="vs_defaultClientScript">
	<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
	<link href="/Styles/style.css" type="text/css" rel="stylesheet">
	<script language="javascript" src="/scripts/kabartma.js" charset="ISO-8859-9"></script>

 



    <style type="text/css">
        .auto-style1 {
            width: 100%;
        }
        .auto-style2 {
            width: 32px;
            height: 32px;
        }
        .auto-style3 {
            font-size: medium;
        }
        baslik {
            font-family: Calibri;
            font-size: 34px;
            color: #E65858;
        }
        .auto-style6 {
            font-size: 32pt;
            color: #E15757;
        }
        .auto-style7 {
            color: #E15757;
        }
        .alternative .kurumadi .webadres { font-size:14px;display:block;} .alternative .kurumadi .webadres { font-size:20px;display:block;} .alternative .kurumadi .webadres { font-size:18px;width:220px;} .alternative .kurumadi .webadres { font-size:22px;} 
.alternative .kurumadi .webadres {
	padding:0 4px 0 0;
	overflow:hidden;
	position:absolute;	
	//top:65px;
	//left:150px;
	z-index:230;
	color:#686868;
	font:1em "MEBHeadFont", Helvetica, Garuda, sans-serif;
	//font-weight:bold;
	//font-weight:900;
	
}
        .auto-style9 {
            color: #E15757;
            font-size: x-large;
        }
        .auto-style10 {
            color: #0000CC;
        }
        .MsoNormal {
            font-size: x-large;
        }
        .auto-style11 {
            font-size: large;
        }
        .auto-style12 {
            font-size: 22.5pt;
        }
        </style>

 



</head>

<body>

	<form method="post" action="./skt00001.aspx" id="kur00001">
<input type="hidden" name="__VIEWSTATEFIELDCOUNT" id="__VIEWSTATEFIELDCOUNT" value="2" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="rJTazB5FywDBAA4HQAnRlcBv2n3lHLm+Lpqrjq8ATXbGVucGzOa14mSISDeEI9F3HqxbC6hR91GUOfUGHuvJwg8oA6srdLJwdZZVDlhJPa25M8xFico5fm2x6ikXJEnh5kXyo7LtF371x+NEgWAnDNqOw2qMW+llhOmcw0iqa6FjyjKxaFounXBR/poi8lJUI8bTd0oeCqTLW+TAABvi0EAAVGGfdjA5RQ/y0stMMn9zPqxrWqWhVGl9iN6Y0b+095l+0nS+HUHJ+Ym+l2/TmsiGUSv9jZ3YsXSFZKjUV0hO1EgebXq0jniPExqnlxromSxaMpPF6KgDP6OWLG69ELfh6Mt7FKcYGGicRNsr0uY8XFV294D2ZLBWvu3jWQtAhIbfpqzlTXf5yOCHHCgBY+pRkTkRsnYXQUU1Qjdlz22gQoEwH0jU7XObgFqqc9xahaqDxjT2gIXZF1AY8yWqjCHXsSWKn59hEAo2WHtMNf3GHg9d6ebOMNeVwZ37ZGLdN7T1o1aNSVLV5sXsBsSLkIBB8vpyElKXAHRLN3oNcudfQr4i6qugptWk/oOcmNwxT/wAdJJ81N1uEScdyw1jGyJ8WSuPJdu//ap1TmJqrDNSCpoAjElR0ydUJTGcfQMdBeM5TnRZQf2tTQHDNkeM38L07OJJxRiEUhPMd1bzL5iTlr5RpZhO5bNgt2IEQgAFsUuGUKxgQ/ZXlECF59hXogY/rfFA+7/ZDof4C2SiBFGSYG9bx7SK3NAORYdY5A3Jv/lN0HiCLtNlwDekDXqZFBuxWmDtRUb9u8KAghbenV4qF+8/CCbJ8Zd/c4Ejt7d0cLtmz6GfhaF8n+0sd5OqZuICpJ8nwGoaLQoXssIhiKhsSRfrBLiG6ktDIuQDgCs9gm9oP8fwd6zsKeDJ4ge9ArSkG9OZid56lq5QLkQc2GIe96QxP4xFdlyUFtNVhdmHEJNkc6G6Dt2KdTHVAXJVsZ1p+vpni1Q0kogRtM3ZDTAOUt7Vs2afsPZEMBmle0u2" />
<input type="hidden" name="__VIEWSTATE1" id="__VIEWSTATE1" value="VMbTsslid62T5SqD2Sa04RKhxZrRTH7dNHzH9kUQv9QH4rwRqwYOF8Md/pT1AMeo1FW2lT21rWo3VYQ67nxf//fPUdcVNH6lERbRowE36YwXbIDlZ2GcIqoOh66a2ZRC9079FhuVi8wAGDAXOp69507/f1GZCiV/o3zQ+sjm1mCYFJtJoxSufpbk1kuKj/9iatFtB0aZ0BvOXe94MAbMMdWdV20mFePUnXSxc26j2VJ+F3FSKGipN/E+jvcU+uTiBFNhz7p/4nh6PSNpz/ZN0RiZEIVqUhpUhZgaMcmjbjrrB7YGezk5j0YuTOGqzfytWvqKalj2fW7yjRe1BN3CCzQMTO0e0CUQN+hVAf8Aal+R46Y+KmARNCG3y3Wol/nPrRmfx7/RFA7s42reOxjUo9A41F/BS/N1OwsmlZG88ks5JBc3EBmtQC5T3YMTtoT013whThqrAvUjjNHTTnwFfg==" />

<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="CDDEDCBE" />
<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="1vT7c6Hwr452i9+wmQL+7oSeCfTY3YMwrpjcnJQS56rpqxJZqXDIX8qbMOsebwHfumdsynqxmuQ6tuQCGxWKQnu4RD15vp7n9kTfJ8/NSfcVqYqP2bRYUNZARju9BkMZ0HPEVvO6AJ8x9JudGWPjaOEZlrF97OKvRnJWsWTPBJI=" />

		<table cellspacing="0" cellpadding="0" width="100%" border="0">

			<tr>
				<td height="30" colspan="2">
					
<script language="javascript" src="/scripts/header.js" charset="ISO-8859-9"></script>
<table class="solidBorderTable" id="Table1" height="40" cellspacing="0" cellpadding="0"
	width="100%">
	<tr>
		<td class="kabartmaBorder">
			<table id="Table2" cellspacing="0" cellpadding="0" width="100%" border="0">
				<tr>
					<td class="header1" rowspan="2"><img src="/images/mebbis.png">
					</td>
					<td class="header1" align="left" width="16" rowspan="2"></td>
					<td class="header3" valign="bottom" align="left">MEBBİS -&nbsp;Özel MTSK Modülü</td>
					<td class="header3" valign="top" align="left" width="200" rowspan="2">
						<div id="Beklet" style="Z-INDEX: 101; VISIBILITY: hidden; WIDTH: 200px; POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff; layer-background-color: #FFFFFF">
							<table class="solidBorderTable" id="Table3" height="100%" cellspacing="0" width="100%"
								border="0">
								<tr>
									<td class="header3" align="center" width="30"><img height="20" src="/images/bekle.gif" width="20" border="0">
									</td>
									<td class="header3">Lütfen Bekleyiniz..</td>
								</tr>
							</table>
						</div>
						
						<div id="IslemSonucuBulunamadi" style="Z-INDEX: 1; VISIBILITY: hidden; WIDTH: 200px; POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff; layer-background-color: #FFFFFF"></div>
						<div id="IslemSonucuIPTAL" style="Z-INDEX: 103; VISIBILITY: hidden; WIDTH: 200px; POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff; layer-background-color: #FFFFFF">
							<table class="solidBorderTable" id="Table7" height="100%" cellspacing="0" width="100%"
								border="0">
								<tr>
									<td class="header3" align="center" width="30" rowspan="2"><img height="20" src="/images/info.gif" width="15" border="0">
									</td>
									<td class="header3">İşleminiz İptal Edilmiştir.</td>
								</tr>
							</table>
						</div>
					</td>
					<td class="header3" valign="bottom" align="right"><span id="SktPageHeader1_lblKullaniciAdi">99997099</span></td>
					<td valign="top" align="right" width="10" rowspan="2"></td>
				</tr>
				<tr>
					<td class="header2" valign="bottom" align="left"><span id="SktPageHeader1_lblKurumKodu">99997099,ÖZEL GERGER YAVAŞ MOTORLU TAŞIT SÜRÜCÜLERİ KURSU</span></td>
					<td class="header3" valign="bottom" align="right">Aktif Kullanıcı:<span id="SktPageHeader1_lblAktifKullaniciSayisi"></span></td>
				</tr>
				<tr>
					<td></td>
				</tr>
			</table>
		</td>
	</tr>
</table>

				</td>
			</tr>

			<tr>

				<td valign="top" align="left">
					
<link href="/Styles/style.css" type="text/css" rel="stylesheet">
 <script language="javascript" charset="ISO-8859-9" src="/scripts/submit.js"></script>
<script language="javascript" charset="ISO-8859-9" src="/scripts/menu.js"></script>
<table id="Table1" cellspacing="0" cellpadding="0" width="120" border="0">
	<tr>
		<td>
			
			<table class="solidBorderTable" id="KurumAramaLink" cellspacing="0" cellpadding="0" width="120">
				<tr>
					<td id="SktMenu1_TD_KurumArama_2" onmouseover="javascript:kabartmaOvr(this)" onclick="if (Beklet(13) != false) window.location.href=&#39;skt00001.aspx&#39;;" onmouseout="javascript:kabartmaOut(this)" width="102" height="20" class="kabartma">Ana 
						Sayfa
					</td>

				</tr>
			</table>
			<table height="5" width="125">
				<tr>
					<td></td>
				</tr>
			</table>
			<table id="SktMenu1_TB_AnaMenu" class="solidBorderTable" cellspacing="0" cellpadding="0" width="118">
	<tr>
		<td><table width="118"	cellpadding="0" cellspacing="0"><tr><td colspan="2" title="Kurum İşlemleri" class="kabartma" onmouseout="javascript:kabartmaOut(this)" onmouseover="javascript:kabartmaOvr(this)" height="20" onclick="GosterSakla('SKT01000')">	<img src="/images/current_kucuk_yan.gif"><img src="/images/imgSpacer.gif" width="3">Kurum İşlemleri</td></tr></table><table width="118"	cellpadding="0" cellspacing="0"	id="SKT01000" style="visibility:hidden;position:absolute;"><tr><td width="5" rowspan="5"	class="kabartma"><img	src="/images/imgSpacer.gif"></td><td title="Kurum Bilgileri"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt01001.aspx';" class="kabartma">Kurum Bilgileri</td></tr><tr><td title="Kurum Araç Giriş / Görüntüleme"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt01002.aspx';" class="kabartma">Kurum Araç Giriş / Görüntüleme</td></tr><tr><td title="Kurum Derslik Giriş / Görüntüleme"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt01003.aspx';" class="kabartma">Kurum Derslik Giriş / Görüntüleme</td></tr><tr><td title="Kurum Randevu Tanımlama Ekranı"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt01005.aspx';" class="kabartma">Kurum Randevu Tanımlama Ekranı</td></tr><tr><td title="Kurum Uygulama Sınav Onay İşlemleri"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt01006.aspx';" class="kabartma">Kurum Uygulama Sınav Onay İşlemleri</td></tr></table></td>
	</tr><tr>
		<td><table width="118"	cellpadding="0" cellspacing="0"><tr><td colspan="2" title="Kurum Aday Kayıt İşlemleri" class="kabartma" onmouseout="javascript:kabartmaOut(this)" onmouseover="javascript:kabartmaOvr(this)" height="20" onclick="GosterSakla('SKT02000')">	<img src="/images/current_kucuk_yan.gif"><img src="/images/imgSpacer.gif" width="3">Kurum Aday Kayıt İşlemleri</td></tr></table><table width="118"	cellpadding="0" cellspacing="0"	id="SKT02000" style="visibility:hidden;position:absolute;"><tr><td width="5" rowspan="13"	class="kabartma"><img	src="/images/imgSpacer.gif"></td><td title="Aday Dönem Kayıt İşlemleri"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt02001.aspx';" class="kabartma">Aday Dönem Kayıt İşlemleri</td></tr><tr><td title="Aday Fotograf Kayıt"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt02002.aspx';" class="kabartma">Aday Fotograf Kayıt</td></tr><tr><td title="Aday Öğrenim Bilgisi Kayıt"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt02003.aspx';" class="kabartma">Aday Öğrenim Bilgisi Kayıt</td></tr><tr><td title="Aday Sağlık Raporu Kayıt"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt02004.aspx';" class="kabartma">Aday Sağlık Raporu Kayıt</td></tr><tr><td title="Aday Sabıka Kayıt"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt02005.aspx';" class="kabartma">Aday Sabıka Kayıt</td></tr><tr><td title="Aday İmza Kayıt"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/SKT02010.aspx';" class="kabartma">Aday İmza Kayıt</td></tr><tr><td title="Dönem Adaylarını Onaylama / Görüntüleme"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt02006.aspx';" class="kabartma">Dönem Adaylarını Onaylama</td></tr><tr><td title="e-Sınav Başvuru İşlemleri"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt02007.aspx';" class="kabartma">e-Sınav Başvuru İşlemleri</td></tr><tr><td title="Sınav Sonuç Listeleme"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt02008.aspx';" class="kabartma">Sınav Sonuç Listeleme</td></tr><tr><td title="Aday Durum Görüntüleme"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt02009.aspx';" class="kabartma">Aday Durum Görüntüleme</td></tr><tr><td title="Aday Sözleşme Bilgisi Kayıt İşlemleri"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt02011.aspx';" class="kabartma">Aday Sözleşme Bilgisi Kayıt</td></tr><tr><td title="Aday Adres Beyan"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/SKT02012.aspx';" class="kabartma">Aday Adres Beyan</td></tr><tr><td title="Aday Fatura Kayıt İşlemleri"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt02013.aspx';" class="kabartma">Aday Fatura Kayıt</td></tr></table></td>
	</tr><tr>
		<td><table width="118"	cellpadding="0" cellspacing="0"><tr><td colspan="2" title="Kurum Dönem Açılış İşlemleri" class="kabartma" onmouseout="javascript:kabartmaOut(this)" onmouseover="javascript:kabartmaOvr(this)" height="20" onclick="GosterSakla('SKT03000')">	<img src="/images/current_kucuk_yan.gif"><img src="/images/imgSpacer.gif" width="3">Kurum Dönem Açılış İşlemleri</td></tr></table><table width="118"	cellpadding="0" cellspacing="0"	id="SKT03000" style="visibility:hidden;position:absolute;"><tr><td width="5" rowspan="4"	class="kabartma"><img	src="/images/imgSpacer.gif"></td><td title="Dönem Grup Açılış Tarihi Giriş"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt03001.aspx';" class="kabartma">Dönem Grup Açılış Tarihi Giriş</td></tr><tr><td title="Grup Şube Tanımlama"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt03002.aspx';" class="kabartma">Grup Şube Tanımlama</td></tr><tr><td title="Teorik Ders Programı Giriş"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt03003.aspx';" class="kabartma">Teorik Ders Programı Giriş</td></tr><tr><td title="Direksiyon Eğitimi Ders Programı Giriş"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt03004.aspx';" class="kabartma">Direksiyon Eğitimi Ders Programı Giriş</td></tr></table></td>
	</tr><tr>
		<td><table width="118"	cellpadding="0" cellspacing="0"><tr><td colspan="2" title="Listeleme İşlemleri" class="kabartma" onmouseout="javascript:kabartmaOut(this)" onmouseover="javascript:kabartmaOvr(this)" height="20" onclick="GosterSakla('SKT04000')">	<img src="/images/current_kucuk_yan.gif"><img src="/images/imgSpacer.gif" width="3">Listeleme İşlemleri</td></tr></table><table width="118"	cellpadding="0" cellspacing="0"	id="SKT04000" style="visibility:hidden;position:absolute;"><tr><td width="5" rowspan="3"	class="kabartma"><img	src="/images/imgSpacer.gif"></td><td title="Teorik Ders Programı Görüntüleme"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt04001.aspx';" class="kabartma">Teorik Ders Programı Görüntüleme</td></tr><tr><td title="Direksiyon Ders Programı Görüntüleme"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt04002.aspx';" class="kabartma">Direksiyon Ders Programı Görüntüleme</td></tr><tr><td title="Sınav Bilgileri Görüntüleme"	onmouseout="javascript:kabartmaOut(this)"	onmouseover="javascript:kabartmaOvr(this)" height="20" 	onclick="if (Beklet(13) !=	false)	window.location.href='/SKT/skt04003.aspx';" class="kabartma">Sınav Bilgileri Görüntüleme</td></tr></table></td>
	</tr>
</table>
			<table height="10" width="125">
				<tr>
					<td></td>
				</tr>
			</table>
		</td>
	</tr>
</table>

				</td>

				<td valign="top" align="left" width="5000">
					
					<input name="hdnKurumSec" type="hidden" id="hdnKurumSec" designtimedragdrop="768" /><input name="Hidden3" type="hidden" id="Hidden3" />
					
					<table class="frmDis" cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
						<tbody>

							<tr>
								<td colspan="3">
									<table class="frmBaslik" cellspacing="0" cellpadding="2" width="100%" border="0">
										<tr>
											<td>Sürücü Kursu Takip Modülü</td>
											<td></td>
											<td align="right">SKT00001</td>
										</tr>
									</table>
								</td>
							</tr>

							<tr>
								<td class="frmDisToolbar" colspan="3" height="10">
									
<table width="100%" border="0" cellspacing="0" cellpadding="1" >
	<tr>
		<td width="100%">
			<table border="0" cellspacing="0" cellpadding="0" >
				<tr>
					<td id="IncToolbarActive1_yeniKayit_b" width="25"><img border="0" src="/images/toolimages/new_d.jpg" alt="Yeni Kayıt" /></td>

					<td id="IncToolbarActive1_silme_b" width="25"><img border="0" src="/images/toolimages/delete_d.jpg" alt="Sil" /></td>

					<td><img border="0" src="/images/toolimages/seperator.jpg"></td>
					<td id="IncToolbarActive1_kaydet_b" width="25"><img border="0" src="/images/toolimages/save_d.jpg" alt="Kaydet" /> </td>

					<td id="IncToolbarActive1_cancel_b" width="25"><img border="0" src="/images/toolimages/cancel_d.jpg" alt="Kaydet" /> </td>

					<td><img border="0" src="/images/toolimages/seperator.jpg"></td>
					<td id="IncToolbarActive1_find_b" width="25"><img border="0" src="/images/toolimages/search_d.jpg" alt="Ara" /></td>

					<td id="IncToolbarActive1_print_b" width="25"><img border="0" src="/images/toolimages/print_d.jpg" alt="Yazdır"/></td>

					<td><img border="0" src="/images/toolimages/seperator.jpg"></td>
					<td id="IncToolbarActive1_refresh_b" width="25"><img border="0" src="/images/toolimages/refresh_d.jpg" alt="Yenile" /></td>

				</tr>
			</table>
		</td>
		<td>
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="25">
						<img src="/images/toolimages/hata.gif" id="IncToolbarActive1_imgHataBildirim" border="0" style="CURSOR:hand" onmouseover="this.src =&#39;/images/toolimages/hata_over.gif&#39;;" onmouseout="this.src =&#39;/images/toolimages/hata.gif&#39;;" alt="Hata Bildirimi" onclick="SubmitHata(&#39;SKT&#39;,&#39;SKT00001&#39;,5338300)" />
					</td>
					<td id="IncToolbarActive1_help_b" width="25"><img border="0" src="/images/toolimages/help_2_d.jpg" alt="Yardım"/></td>

					<td id="IncToolbarActive1_exit_b" width="25"><a href="../main.aspx"><img border="0" src="/images/toolimages/exit.jpg" alt="Çıkış" onmouseover="this.src='/images/toolimages/exit_a.jpg'" onmouseout="this.src='/images/toolimages/exit.jpg'"/></a></td>

				</tr>
			</table>
		</td>
	</tr>
</table>

								</td>
							</tr>

							<tr>
								<td width="15" height="10"></td>
								<td width="95%">
									<span id="lblUyari"></span></td>
								<td width="15"></td>
							</tr>

							<tr>
								<td></td>

								<td class="frmIc" align="left">
																				  
															
										
													
									<table class="frmDis" id="Table1" cellspacing="1" cellpadding="1" width="100%" border="0">
										<tbody>
											<tr>
												<td class="frmBaslik" colspan="3">
													<p>Özel MTSK Modülü Duyuruları</p>
												</td>
											</tr>
											<tr>
												<td>
													<table class="auto-style1">
                                                      
                                                          <tr>
                                                            <td align="center">
                                                                <p><img alt="" class="auto-style2" src="../images/yeni.jpg" /> <span class="auto-style6"><strong>&nbsp; ÖNEMLİ DUYURU</strong></span></p></td>
                                                              </tr>
                                                                                                                                                                       <tr >
                                                            <td align="left" style="border: thin solid #E15757">
                                                                    <p class="auto-style9"><strong>DUYURU 24/12/2024</strong></p>
                                                                    <p class="MsoNormal"> <span style="font-size:22.5pt;font-family:inherit;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:
&quot;Times New Roman&quot;;color:#212529;mso-ansi-language:TR;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA" >&nbsp;&nbsp;&nbsp; </span>Özel Motorlu Taşıt Sürücüleri Kursu Yönetmeliğinin 09/01/2025 tarihinde yürürlüğe girecek olan 12 inci maddesi gereği sürücü kursları tarafından kursiyer kayıt esnasında çekilerek kaydı yapılacak fotoğraf yükleme ekranı; 2025/Ocak dönemi için sürücü kurslarının kameralarını ve uygulamayı test etmesi amacıyla kullanıma açılmış olup 2025/Ocak dönemi için çekilen fotoğraflar onayda dikkate alınmayacaktır.&nbsp;&nbsp;&nbsp;&nbsp;
</p>
                                                                    <p class="MsoNormal"> &nbsp;&nbsp;&nbsp;&nbsp; Uygulama 2025/Şubat dönemi itibariyle zorunlu olacak olup fotoğraf yükleme işlemi; ilgili ekranda bulunan açıklamalara uygun olarak yapılacaktır. Fotoğraf ve/veya bilgileri hatalı girilen kursiyerlere o eğitim döneminde düzeltme işlemi yapılmayacağından herhangi bir mağduriyet yaşanmaması için gerekli tedbirlerin sürücü kursları tarafından alınması gerekmektedir.
</p>
                                                            </td>
                                                        </tr>
                                                                                                                <tr >
                                                            <td align="left" style="border: thin solid #E15757">
                                                                    <p class="auto-style9"><strong>DUYURU 10/12/2024</strong></p>
                                                                    <p class="MsoNormal"> <span style="font-size:22.5pt;font-family:inherit;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:
&quot;Times New Roman&quot;;color:#212529;mso-ansi-language:TR;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA" >&nbsp;&nbsp;&nbsp; </span>10/12/2024 tarihinde tamamlanması gereken 2024 Aralık dönemi kayıt işlemleri sağlık raporu temininde yaşanan sıkıntılar nedeniyle 11/12/2024 tarihi saat: 23.59’a kadar uzatılmıştır.</p>
                                                            </td>
                                                        </tr>
                                                        <tr >
                                                            <td align="left" style="border: thin solid #E15757">
                                                                    <p class="auto-style9"><strong>DUYURU 11/11/2024</strong></p>
                                                                    <p class="MsoNormal"> <span style="font-size:22.5pt;font-family:inherit;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:
&quot;Times New Roman&quot;;color:#212529;mso-ansi-language:TR;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA" >&nbsp;&nbsp;&nbsp; </span>11/11/2024 tarihinde tamamlanması gereken 2024 Kasım dönemi kayıt işlemleri sağlık raporu temininde yaşanan sıkıntılar nedeniyle 12/11/2024 tarihi saat: 23.59’a kadar uzatılmıştır.</p>
                                                            </td>
                                                        </tr>
                                                                                                                <tr >
                                                            <td align="left" style="border: thin solid #E15757">
                                                                    <p class="auto-style9"><strong>DUYURU 12/06/2023</strong></p>
                                                                    <p class="MsoNormal"> <span style="font-size:22.5pt;font-family:inherit;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:
&quot;Times New Roman&quot;;color:#212529;mso-ansi-language:TR;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA" >&nbsp;&nbsp;&nbsp; </span>12.06.2023 tarihinde bitmesi gereken 2023-Haziran dönemi MTSK kursiyer kayıt işlemleri MERNİS'de yaşanan sistemsel sorun nedeniyle tamamlanamadığından 14.06.2023 tarihi mesai bitimine kadar uzatılmıştır.</p>
                                                            </td>
                                                        </tr>
                                                         <tr >
                                                            <td align="left" style="border: thin solid #E15757">
                                                                    <p class="auto-style9"><strong>DUYURU 09/05/2023</strong></p>
                                                                    <p class="MsoNormal"> <span style="font-size:22.5pt;font-family:inherit;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:
&quot;Times New Roman&quot;;color:#212529;mso-ansi-language:TR;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA" >&nbsp;&nbsp;&nbsp; </span>Ülkemiz genelinde 14.05.2023 tarihinde yapılacak olan Cumhurbaşkanlığı Seçimi ve 28. Dönem Milletvekili Genel Seçimi sebebiyle okullarda da seçim hazırlığı yapılacağından ve bu alanlarda güvenliğin sağlanması açısından 13-14.05.2023 tarihlerinde Genel Müdürlüğümüzce yürütülmekte olan özel motorlu taşıt sürücüleri kurslarının direksiyon eğitimi dersi sınavları, özel ulaştırma hizmetleri mesleki eğitim ve geliştirme kurslarının teorik ve uygulama sınavları, iş makineleri sürücü eğitim kurslarının teorik ve uygulama sınavları ile çeşitli kursların teorik ve uygulama sınavları yapılmayacaktır.</p>
                                                            </td>
                                                        </tr>
                                                        <tr >
                                                            <td align="left" style="border: thin solid #E15757">
                                                                    <p class="auto-style9"><strong>DUYURU 07/03/2023</strong></p>
                                                                    <p class="MsoNormal"> <span style="font-size:22.5pt;font-family:inherit;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:
&quot;Times New Roman&quot;;color:#212529;mso-ansi-language:TR;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA" >&nbsp;&nbsp;&nbsp; </span>Deprem bölgesinde faaliyette bulunan özel mtsk larda kaydı bulunan kursiyerlerden, diğer illerde bulunan kurslara nakil olmak isteyen kursiyerlerin nakil işlemleri il/ilçe mem işlemleri menüsü altında bulunan kapanan kurum nakil işlemleri ekranından adayın kayıtlı olduğu il mem tarafından yapılacaktır.</p>
                                                            </td>
                                                        </tr>

                                                        <tr >
                                                            <td align="left" style="border: thin solid #E15757">
                                                                    <p class="auto-style9"><strong>DUYURU 16/01/2023</strong></p>
                                                                    <p class="MsoNormal"> <span style="font-size:22.5pt;font-family:inherit;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:
&quot;Times New Roman&quot;;color:#212529;mso-ansi-language:TR;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA" >&nbsp;&nbsp;&nbsp; </span>Özel MTSK Modülü- Kurum İşlemleri- Kurum Uygulama Sınav İşlemleri ekranından yapılan ön onay işlemleri Mevzuatta bulunmadığından, Kurum Randevu Tanımlama ekranından “Listede Görünmeyen Adaylar İçin Tıklayınız” butonu tıklanarak kursiyerler listelenmektedir. Söz konusu ekranda listelenen kursiyerlerden dersi bitmeyen kursiyerlerin hakkı yanmamaktadır. </p>
                                                            </td>
                                                        </tr>

                                                        <tr >
                                                            <td align="left" style="border: thin solid #E15757">
                                                                    <p class="auto-style9"><strong>DUYURU 10/11/2022</strong></p>
                                                                    <p class="MsoNormal"> <span style="font-size:22.5pt;font-family:inherit;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:
&quot;Times New Roman&quot;;color:#212529;mso-ansi-language:TR;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA" >&nbsp;&nbsp;&nbsp; </span>19 Kasım 2022 tarihinde yapılacak olan Öğretmenlik Kariyer Basamakları Yazılı Sınavı nedeniyle bu tarihte yapılması planlanan tüm Özel Motorlu Taşıt Sürücüleri Kursu, SRC Sınavları ve Özel İş Makineleri Sınavlarının iptal edilmiştir.</p>
                                                            </td>
                                                        </tr>
                                                          <tr >
                                                            <td align="left" style="border: thin solid #E15757">
                                                                    <p class="auto-style9"><strong>DUYURU 01/11/2022</strong></p>
                                                                    <p class="MsoNormal"> <span style="font-size:22.5pt;font-family:inherit;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:
&quot;Times New Roman&quot;;color:#212529;mso-ansi-language:TR;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA" >&nbsp;&nbsp;&nbsp; Pandemi dolayısıyla Özel Motorlu Taşıt Sürücüleri Kursu Yönetmeliğinin 12 inci maddesinin dördüncü fıkrası gereği e-sınavda başarılı olan kursiyerlerin 5 iş günü içerisinde direksiyon eğitimi uygulama derslerinin Özel MTSK Modülüne işlenme zorunluluğu kaldırılmıştı. Pandemi sürecinin sona ermesi sebebiyle yönetmeliğin ilgili maddesi 07/11/2022 tarihinden itibaren tekrar yürürlüğe konulacaktır. Kurumların ve kursiyerlerin mağduriyet yaşamamaları için gerekli önlemlerin almaları gerekmektedir.</span></p>
                                                            </td>
                                                        </tr> 
                                                         <tr >
                                                            <td align="left" style="border: thin solid #E15757">
                                                                    <p class="auto-style9"><strong>DUYURU 25/08/2022</strong></p>
                                                                    <p class="MsoNormal"> <span style="font-size:22.5pt;font-family:inherit;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:
&quot;Times New Roman&quot;;color:#212529;mso-ansi-language:TR;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA" >30 Ağustos 2022 Salı gününün Zafer Bayramı olması sebebiyle; 03-04/09/2022 tarihlerinde yapılacak direksiyon eğitimi dersi uygulama sınavı, iş makineleri sürücü eğitimi kursu sınavları ve özel ulaştırma hizmetleri mesleki eğitim ve geliştirme kursu (SRC) sınavları için randevu verme ekranları her ne kadar 30 Ağustos 2022 Salı günü açık olsa da onay işlemlerinin 29 Ağustos 2022 Pazartesi gününe kadar tamamlanarak herhangi bir mağduriyet oluşmaması için gerekli önlemlerin alınması gerekmektedir. </span>
</p>
                                                            </td>
                                                        </tr> 
                                                           <tr >
                                                            <td align="left" style="border: thin solid #E15757">
                                                                    <p class="auto-style9"><strong>DUYURU 07/07/2022</strong></p>
                                                                    <p class="MsoNormal"> <span style="font-size:22.5pt;font-family:inherit;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:
&quot;Times New Roman&quot;;color:#212529;mso-ansi-language:TR;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA" >Özel motorlu taşıt sürücüleri kurslarının grup açma işleminin yapılacağı son tarih olan 10 Temmuz 2022 tarihinin kurban bayramı resmî tatiline denk gelmesi nedeniyle, grup açma iş ve işlemlerinin 8 Temmuz 2022 tarihi saat 24.00’e kadar yapılması, bu işlem dışındaki kursiyer kaydı ve eksik evraka ilişkin iş ve işlemlerin ise 13 Temmuz 2022 tarihi mesai saati bitimine kadar tamamlanması gerekmektedir. </span>
</p>
                                                            </td>
                                                        </tr> 
                                                        <tr >
                                                            <td align="left" style="border: thin solid #E15757">
                                                                    <p class="auto-style9"><strong>DUYURU 07/03/2022</strong></p>
                                                                    <p class="MsoNormal"> <span style="font-size:22.5pt;font-family:inherit;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:
&quot;Times New Roman&quot;;color:#212529;mso-ansi-language:TR;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA" >Genel Müdürlüğümüze bağlı olarak faaliyet gösteren özel motorlu taşıt sürücüleri kurslarının İl/İlçe Milli Eğitim Müdürlükleri tarafından MTSK Modülünden "CE" (TIR) sınıfı araçların tanımlama kılavuzu için</span><a href="https://mebbis.meb.gov.tr/SKT/aciklama09.pdf" class="auto-style11" target="_blank"><span style="text-decoration:none;text-underline:none" class="auto-style7"><span style="font-size: x-large"> tıklayınız...</span></span></a>
</p>
                                                            </td>
                                                        </tr> 
                                                        <tr >
                                                            <td align="left" style="border: thin solid #E15757">
                                                                    <p class="auto-style9"><strong>DUYURU 05/08/2021</strong></p>
                                                                    <p class="MsoNormal"> <span style="font-size:22.5pt;font-family:inherit;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:
&quot;Times New Roman&quot;;color:#212529;mso-ansi-language:TR;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA" >Pandemi sebebiyle uygulanmayan sistem süre kontrolleri ve teorik-uygulama eğitimleri ile sınav işlemleri tamamlanmayan kursiyerleri konu alan yazı için&nbsp;</span><a href="https://mebbis.meb.gov.tr/SKT/aciklama08.pdf" class="auto-style11" target="_blank"><span style="text-decoration:none;text-underline:none" class="auto-style7"><span style="font-size: x-large">Tıklayınız...</span></span></a>
</p>
                                                            </td>
                                                        </tr> 

                                                          <tr >
                                                            <td align="left" style="border: thin solid #E15757">
                                                                    <p class="auto-style9"><strong>DUYURU 04/05/2021</strong></p>
                                                                    <p class="MsoNormal"> <span style="font-size:22.5pt;font-family:inherit;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:
&quot;Times New Roman&quot;;color:#212529;mso-ansi-language:TR;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA" >İçişleri Bakanlığının (İller İdaresi Genel Müdürlüğü) 27.04.2021 tarihli ve 153-7576 sayılı Genelgesi doğrultusunda 29 Nisan 2021 Perşembe günü saat 19.00’da başlayıp 17 Mayıs 2021 Pazartesi günü saat 05.00’te bitecek şekilde tam zamanlı sokağa çıkma kısıtlaması uygulanacaktır. 
Buna göre; teorik dersler hariç olmak üzere 30 Nisan 2021 Cuma (dahil) gününden başlayarak 16 Mayıs 2021 Pazar (dahil) günlerine rastlayan derslerin (direksiyon eğitimi dersleri, başarısız aday eğitimi dersleri, telafi dersleri; iş makineleri araç başı uygulama dersleri ve birebir uygulama dersleri) il/ilçe millî eğitim müdürlüklerince MEBBİS Özel MTSK Modülünden silinmesi gerekmektedir.
</span><a href="https://mebbis.meb.gov.tr/SKT/aciklama.pdf" class="auto-style11" target="_blank"><span style="text-decoration:none;text-underline:none" class="auto-style7"></span></a>
</p>
                                                            </td>
                                                        </tr>

                                                         <tr >
                                                            <td align="left" style="border: thin solid #E15757">
                                                                    <p class="auto-style9"><strong>DUYURU 30/04/2021</strong></p>
                                                                    <p class="MsoNormal"> <span style="font-size:22.5pt;font-family:inherit;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:
&quot;Times New Roman&quot;;color:#212529;mso-ansi-language:TR;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA" >Tam Kapanma Tedbirleri Kapsamında 2021 Mayıs Dönem Açma İşlemleri Resmi Yazı İçin&nbsp;</span><a href="https://mebbis.meb.gov.tr/SKT/aciklama.pdf" class="auto-style11" target="_blank"><span style="text-decoration:none;text-underline:none" class="auto-style7"><span style="font-size: x-large">Tıklayınız...</span></span></a>
</p>
                                                            </td>
                                                        </tr> 

                                                             <tr >
                                                            <td align="left" style="border: thin solid #E15757">
                                                                    <p class="auto-style9"><strong>DUYURU 04/03/2021</strong></p>
                               
                                                                    <p class="MsoNormal"> <span style="font-size:22.5pt;font-family:inherit;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:
&quot;Times New Roman&quot;;color:#212529;mso-ansi-language:TR;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA">Özel ulaştırma hizmetleri mesleki eğitim ve geliştirme kursları, uzaktan öğretim yapan kuruluşlar, özel motorlu taşıt sürücüleri kursları, iş makineleri sürücü eğitim kursları illerin risk grupları dikkate alınarak kısıtlamaların olmadığı
gün ve saatlerde yüz yüze eğitim vereceklerdir. Kontrollerini İl ve İlçe Milli Eğitim Müdürlüklerince modül üzerinden kontrol edilmesi gerekmektedir. Yazı için
 </span> <a href="https://mebbis.meb.gov.tr/SKT/ek.pdf" class="auto-style11" target="_blank"><span style="text-decoration:none;text-underline:none" class="auto-style7">
                                                                        <span style="font-size: x-large">Tıklayınız...</span></span></a>
</p>
                                                            </td>
                                                        </tr> 

                                                             <tr >
                                                            <td align="left" style="border: thin solid #E15757">
                                                                    <p class="auto-style9"><strong>DUYURU 18/01/2021</strong></p>
                               
                                                                    <p class="MsoNormal"> <span style="font-size:22.5pt;font-family:inherit;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:
&quot;Times New Roman&quot;;color:#212529;mso-ansi-language:TR;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA">İçişleri Bakanlığının 15.01.2021 tarihli ve 153-630 sayılı yazısı doğrultusunda 23 Ocak 2021 tarihinden itibaren Genel Müdürlüğümüze bağlı faaliyette bulunan özel motorlu taşıt sürücü kursu, özel ulaştırma hizmetleri mesleki eğitim ve geliştirme kursu ile iş makineleri sürücü eğitim kursu teorik ve uygulama sınavları yapılmaya başlanacaktır. Bu kapsamda, il/ilçe milli eğitim müdürlüklerince ekte belirtilen hususların dikkate alınması gerekmektedir. Ek İçin  ekte belirtilen hususların dikkate alınması gerekmektedir. Ek İçin </span> <a href="https://mebbis.meb.gov.tr/SKT/mtsk_duyuru.docx" class="auto-style11" target="_blank"><span style="text-decoration:none;text-underline:none" class="auto-style7">
                                                                        <span style="font-size: x-large">Tıklayınız...</span></span></a>
</p>
                                                            </td>
                                                        </tr> 

                                                       
                                                            <td align="left" style="border: thin solid #E15757">
                                                                    <p class="auto-style9"><strong>DUYURU 24/11/2020</strong></p>
                               
                                                                    <p class="MsoNormal"> <span class="auto-style12">19/11/2020 tarihli ve 16968916 sayılı yazımız doğrultusunda 28 Kasım 2020 ve 29 Kasım 2020 tarihlerinden yapılacak direksiyon uygulama sınavları için kursiyerlere randevu verme süresi 25 Kasım 2020 Çarşamba günü saat 13.00’e kadar uzatılmıştır. Belirtilen zaman diliminde gerekli iş ve işlemlerin yapılması önem arz etmektedir.</span><span style="font-size:22.5pt;font-family:inherit;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:
&quot;Times New Roman&quot;;color:#212529;mso-ansi-language:TR;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA"> </span></p>
                                                            </td>
                                                        </tr>  
                                                         <tr >
                                                            <td align="left" style="border: thin solid #E15757">
                                                                    <p class="auto-style9"><strong>DUYURU 15/10/2020</strong></p>
                               
                                                                    <p class="MsoNormal"> <span style="font-size:22.5pt;font-family:inherit;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:
&quot;Times New Roman&quot;;color:#212529;mso-ansi-language:TR;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA">29 Ekim Cumhuriyet Bayramı tatili 28 Ekim 2020 günü saat:13.00’dan itibaren başlayacağında, 28 Ekim 13:00&#39;dan sonra ve 29 Ekim 2020 günleri teorik ve uygulama dersleri yapılmayacak olup MEBBİS’e girilen dersler silinecektir. </span></p>
                                                            </td>
                                                        </tr>  
                                                        
                                                         
                                                        <tr >
                                                            <td align="left" style="border: thin solid #E15757">
                                                                    <p class="auto-style9"><strong>DUYURU 25/08/2020</strong></p>
                               
                                                                    <p class="MsoNormal"> <span style="font-size:22.5pt;font-family:inherit;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:
&quot;Times New Roman&quot;;color:#212529;mso-ansi-language:TR;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA">Ulaştırma ve Altyapı Bakanlığının 2020/11 sayılı Genelgesi kapsamında 03/04/2020 - 03/07/2020 tarihleri arasında muayene süresi dolan ve 17/08/2020 tarihine kadar muayenesi yapılmayan özel motorlu taşıt sürücüleri kurslarının eğitim ve sınav araçlarının muayene geçerlilik süresi 25/08/2020 tarihli 16915068-410.99-E.11193429 sayılı yazımıza istinaden 30/09/2020 tarihine kadar uzatılmıştır. 
Buna göre muayene geçerlilik süreleri 03/04/2020 – 03/07/2020 tarihleri arasında olanlar dışındaki muayene süreleri dolmuş eğitim ve sınav araçları 31/08/2020 tarihi itibariyle MEBBİS’ten pasif duruma çekilecektir. Herhangi bir mağduriyet yaşanmaması için gerekli tedbirlerin alınması gerekmektedir.</span></p>
                                                            </td>
                                                        </tr>  
                                                                  <tr >
                                                            <td align="left" style="border: thin solid #E15757">
                                                                    <p class="auto-style9"><strong>DUYURU 30/07/2020</strong></p>
                               
                                                                    <p class="MsoNormal"> <span style="font-size:22.5pt;font-family:inherit;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:
&quot;Times New Roman&quot;;color:#212529;mso-ansi-language:TR;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA">Özel SRC Kursu ve Özel MTSK Açma İşlemleri Başvuru takvimi için</span> <a href="https://mebbis.meb.gov.tr/SKT/mtsk_src.docx" class="auto-style11" target="_blank"><span style="text-decoration:none;text-underline:none" class="auto-style7">
                                                                        <span style="font-size: x-large">tıklayınız...</span></span></a>
</p>
                                                            </td>
                                                        </tr>  
                                                        <tr >
                                                            <td align="left" style="border: thin solid #E15757">
                                                                    <p class="auto-style9"><strong>DUYURU 28/07/2020</strong></p>
                               
                                                                    <p class="MsoNormal">    30 Temmuz 2020 tarihi Kurban Bayramı Arife günü saat:13.00’dan sonra resmî tatil olduğundan teorik ve uygulama dersleri yapılmayacak olup MEBBİS’e girilen dersler silinecektir. </p>
                                                            </td>
                                                        </tr>
                                                        <tr >
                                                            <td align="left" style="border: thin solid #E15757">
                                                                    <p class="auto-style9"><strong>DUYURU 14/07/2020</strong></p>
                               
                                                                    <p class="MsoNormal">    31 Temmuz-3 Ağustos tarihleri arasında Kurban Bayramı tatili nedeniyle 08-09 Ağustos 2020 tarihlerinde yapılacak olan direksiyon uygulama sınav tanımlama işlemi  4 ağustos 2020 tarihine kadar, randevu işlemleri ise 05 Ağustos 2020 saat 23:59 a kadar uzatılmıştır. </p>
                                                            </td>
                                                        </tr>
                                                        <tr >
                                                            <td align="left" style="border: thin solid #E15757">
                                                                    <p class="auto-style9"><strong>DUYURU 19/06/2020</strong></p>
                               
                                                                    <p class="MsoNormal"> İçişleri Bakanlığının 18/06/2020 tarihli 89780865-153-E.9863 sayılı genelge kapsamından 20-27-28  Haziran 2020   günü 9:00-15:00 saatleri arası sokağa çıkma kısıtlaması olması dolayısıyla dersler yapılamayacaktır. Genelge için <a href="https://mebbis.meb.gov.tr/SKT/genelge.pdf" class="auto-style11" target="_blank"><span style="text-decoration:none;text-underline:none" class="auto-style7">
                                                                        <span style="font-size: x-large">tıklayınız...</span></span></a>
</p>
                                                            </td>
                                                        </tr>
                                                        
                                                        
                                                          <tr >
                                                            <td align="left" style="border: thin solid #E15757">
                                                                    <p class="auto-style9"><strong>DUYURU 02/06/2020</strong></p>
                               
                                                                    <p class="MsoNormal"> 20 Haziran 2020 tarihinde Sınavla Öğrenci Alacak Ortaöğretim Kurumları Merkezi Sınavının, 27-28 Haziran 2020 tarihlerinde ise YKS-1 ve YKS-2 sınavlarının yapılacak olması nedeniyle sınavların belirtilen tarihlerde yapılmayacağını  konu alan yazı için <a href="https://mebbis.meb.gov.tr/SKT/duyuru1.pdf" class="auto-style11" target="_blank"><span style="text-decoration:none;text-underline:none" class="auto-style7">
                                                                        <span style="font-size: x-large">tıklayınız...</span></span></a>
</p>
                                                            </td>
                                                        </tr>
                                                                                           <tr >
                                                            <td align="left" style="border: thin solid #E15757">
                                                                    <p class="auto-style9"><strong>DUYURU 27/03/2020</strong></p>
                               
                                                                    <p class="MsoNormal"> Özel MTSK, Özel İş Makineleri  Sürücü Eğitim Kursları ve Özel Ulaştırma Hizmetleri Mesleki Eğitim ve Geliştirme Kurslarının 30 Nisan 2020 Perşembe gününe kadar teorik - uygulama eğitimlerinin  ve sınavlarının (e-sınav
dahil)  iptal edildiğini  konu alan yazı için <a href="https://mebbis.meb.gov.tr/SKT/duyuru.pdf" class="auto-style11"><span style="text-decoration:none;text-underline:none" class="auto-style7">
                                                                        <span style="font-size: x-large">tıklayınız...</span></span></a>
</p>
                                                            </td>
                                                        </tr>
                                                            <tr >
                                                            <td align="left" style="border: thin solid #E15757">
                                                                    <p class="auto-style9"><strong>DUYURU 27/01/2020</strong></p>
                               
                                                                    <p class="MsoNormal"> Dönem kayıtlarında ve sınav giriş belgelerinde yanlış ve standart dışı fotoğrafların kontrolü ve takibinin sağlıklı bir şekilde yapılabilmesi için İl/İlçe MEM İşlemleri Menüsü altına bulunan Aday Durum Görüntüleme ekranına “Aday Resim Göster” düğmesi uygulamaya konmuştur. Bu ekranda ilgili kursiyer için yüklenmiş fotoğraflar görüntülenecektir.</p>
                                                            </td>
                                                        </tr>
                                                        
                                                        <tr >
                                                            <td align="left" style="border: thin solid #E15757">
                                                                    <p class="auto-style9"><strong>DUYURU 10/01/2020</strong></p>
                               
                                                                    <p class="MsoNormal"> İl/İlçe MEM İşlemleri Menüsü altına bulunan Kurum Araç Giriş / Güncelleme ekranı altında Araç Sahip Bilgi Sorgulama İşlemleri bölümünden Özel MTSK araçları, İlçe Milli Eğitim Müdürlükleri tarafından sorgulanabilmektedir.  </p>
                                                            </td>
                                                        </tr>

                                                        <tr >
                                                            <td align="left" style="border: thin solid #E15757">
                                                                    <p class="auto-style9"><strong>DUYURU 25/12/2019</strong></p>
                               
                                                                    <p class="MsoNormal">2019 Temmuz dönemi öncesi Kursa Başvuru Aşamasında-Teorik Sınav Aşamasında ve Uygulama Sınav Aşamasında bekleyen ve kurum uygulama sınav onayı verilmeyen adayların Millî Eğitim Bakanlığı Özel Motorlu Taşıt Sürücüleri Kursu Yönetmeliği 7.Madde yedinci fıkrası gereği kayıtları pasif duruma çekilecektir. <a href="https://mebbis.meb.gov.tr/SKT/resmi_yazi.pdf">
                                                                        <span style="text-decoration:none;text-underline:none" class="auto-style7">
                                                                        <strong>(Resmi Yazı)</strong></span></a></p>
                                                            </td>
                                                        </tr>

                                                          <tr >
                                                            <td align="left" style="border: thin solid #E15757">
                                                                    <p class="auto-style9"><strong>DUYURU 16/10/2019</strong></p>
                               
                                                                    <p class="MsoNormal">28 Ekim 2019 tarihinin yarım gün, 29 Ekim 2019 tarihinde ise tam gün resmi tatil olması sebebiyle 2-3 Kasım 2019 tarihinde yapılacak olan direksiyon uygulama sınavları randevu verme işlemleri 30 Ekim 2019 saat 23:59'a kadar uzatılacaktır. Herhangi bir aksaklığa meydan verilmemesi için gerekli hassasiyetin gösterilmesi hususunda gereği rica olunur.</p>                                                                    

                                                            </td>
                                                        </tr>

                                                            <tr >
                                                            <td align="left" style="border: thin solid #E15757">
                                                                    <p class="auto-style9"><strong>DUYURU 19/09/2019</strong></p>
                               
                                                                    <p class="MsoNormal">Yönetmeliğin 28/A maddesinin birinci fıkrasının (b) bendinde; &quot;Kurslar tarafından Özel MTSK Modülüne girilen kursiyerlerin, direksiyon usta öğreticilerinin ve direksiyon eğitim ve sınav araçlarının kontrollerini yapıp, 12 kursiyerden az olan direksiyon eğitimi sınav takip ve sonuç listelerini 12 kursiyere tamamlayarak veya dengeli dağıtarak sınav tarihinden en geç üç iş günü önce onaylanmasını sağlar.&quot; hükmü gereğince listelerin en geç Salı gününe kadar tamamlanması gerekmektedir. Bu işlem 23/09/2019 tarihinden itibaren uygulamaya konulacaktır.</p>
                                                                    

                                                            </td>
                                                        </tr>
                                                        </tr>
                                                            <tr >
                                                            <td align="left" style="border: thin solid #E15757">
                                                                    <p class="auto-style9"><strong>DUYURU 09/08/2019</strong></p>
                               
                                                                    <p class="MsoNormal">2019 / Ağustos ayının 10 uncu gününün hafta sonuna denk gelmesi ve devamında Kurban Bayramı tatilinin olması sebebiyle Özel Motorlu Taşıt Sürücüleri Kursları 2019 / Ağustos dönemi Grup/Şube tanımlamaları 10 Ağustos 2019 tarihine kadar, 10 Ağustos 2019 tarihi açılan Grup/Şube kursiyer kayıtları ve onay işlemleri 15 Ağustos 2019 tarihine kadar yapılabilecektir.                                                                    </p>
                                                                    

                                                            </td>
                                                        </tr>
                                            <tr><td>
                                                <input type="submit" name="Button1" value="Eski Duyurular" id="Button1" /></td></tr>
                                            
                                                        </table>
												</td>
											</tr>
									</table>

								<td></td>
							</tr>

						</tbody>
					</table>

				</td>

			</tr>

			<tr>
				<td colspan="2" valign="bottom" align="center">
					
<div class="frmFooter">Tüm hakları Milli Eğitim Bakanlığına aittir.</div>

				</td>
			</tr>

		</table>

	</form>

</body>

</html>
